<div class="container">
  <app-topbar [data]="data"></app-topbar>

  <div class="txt">
    <p>Well-designed user interface and enjoyable user-experience is a key to increase your user interaction and drive sales. In today’s highly competitive market, rich feel and great look go hand in hand. User Experience (UX) and User Interface (UI) are an essential part of web applications, mobile app designs, and software development to create a lasting impression on users’ mind. From conceptualization to UX, from graphics to branding a well-planned and executed UI bridges the gap between stakeholder goals and user expectations.</p>
  </div>

  <app-drive></app-drive>

  <app-vid
  [options]="{
    autoplay: false,
    fluid: true,
    fill: true,
    controls: true,
    sources: [
      { src: 'https://dcvideo.b-cdn.net/vid01.mp4', type: 'video/mp4' }
    ],
    poster: 'https://i.ibb.co/JnXd3jx/Delivering-tech-at-scale.jpg'
  }">
  </app-vid>

  <app-learn></app-learn>

  <app-client-stories></app-client-stories>

  <div class="faq">
    <app-faq [Data]="faq"></app-faq>
  </div>

  <app-contact></app-contact>

</div>
