<div class="container">
  <div class="l">
    <h1>Building Integrated Customer Experiences in the Energy Space</h1>
    <p>
      Our advanced technologies can help energy and utility companies harness their data to increase efficiency and reduce expenditures.
    </p>
    <p>
      Discover how dynamic solutions from DeltaCodes can help you work smarter and improve how you generate and distribute energy to customers.
    </p>
    <a routerLink="/blog">Learn More</a>
  </div>
  <div class="r">
    <img src="https://images.pexels.com/photos/1181354/pexels-photo-1181354.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
  </div>
</div>
