.container {
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    font-family: 'Montserrat', sans-serif;
}

.container h1 {
    font-size: 32px;
    color: #333;
}

.items {
    display: flex;
    margin-top: 50px;
}
.items .bar {
    border: 1px solid #0ac775;
    border-radius: 50%;
}
.items .item {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 20px 0;
    cursor: pointer;
}
.items .item img {
    transform: scale(1.4);
    filter: grayscale(100%);
    transition-duration: 0.3s;
}
.items .item:hover img {
    transform: scale(1.6);
    filter: grayscale(0%);
}
.items .item h3 {
    margin-top: 60px;
    font-size: 20px;
    color: rgba(51, 51, 51, 0.7);
    text-align: center;
}