<div class="container">
  <h1>Great! <br>Now let's get some details</h1>
  <h2 *ngIf="showM1">What type of service do you need?</h2>
  <div class="items" *ngIf="showM1">
    <div class="item" (click)="submit(1)">
      <img src="/assets/begin/menu2/1.png" alt="">
      <h3>SEO & Marketing</h3>
    </div>
    <div class="bar"></div>
    <div class="item" (click)="submit(2)">
      <img src="/assets/begin/menu2/2.png" alt="">
      <h3>Maintenance & Support</h3>
    </div>
    <div class="bar"></div>
    <div class="item" (click)="submit(3)">
      <img src="/assets/begin/menu2/3.png" alt="">
      <h3>API & Integration</h3>
    </div>
    <div class="bar"></div>
    <div class="item" (click)="submit(4)">
      <img src="/assets/begin/menu2/4.png" alt="">
      <h3>Hire a Team</h3>
    </div>
  </div>

  <div class="loading" *ngIf="loading">
    <img class="rotating" src="/assets/begin/loader.png" alt="">
  </div>

  <h2 *ngIf="showM2">What's the estimated size of your application?</h2>
  <div class="items" *ngIf="showM2">
    <div class="item" (click)="submit2(1)">
      <img src="/assets/begin/menu4/1.png" alt="">
      <h3>Small Application</h3>
      <p>Eg: Blog website, Brand website, Business websites</p>
    </div>
    <div class="bar"></div>
    <div class="item" (click)="submit2(2)">
      <img src="/assets/begin/menu4/2.png" alt="">
      <h3>Mid-sized Application</h3>
      <p>Eg: E-commerce websites, Shopping website, Online ordering</p>
    </div>
    <div class="bar"></div>
    <div class="item" (click)="submit2(3)">
      <img src="/assets/begin/menu4/3.png" alt="">
      <h3>Large Application</h3>
      <p>Eg: CRM, Warehouse management, Enterprise solutions</p>
    </div>
  </div>
</div>
