<div class="container">
  <Nav class="navbar">
    <a href="/learning" class="brand"><span>Delta</span>Codes Learning</a>
    <div class="expanded"></div>
    <div class="navs">
      <a href="learinng/contributor" class="nav">Become A Contributor</a>
      <a href="/career" class="nav">Career</a>
    </div>
    <div class="searchbar">
      <input type="text" placeholder="search">
      <div class="icon-btn"><i class="fa fa-search" aria-hidden="true"></i></div>
    </div>
  </Nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
