<div class="container">
  <h1>Great! <br>Now let's get some details</h1>
  <div class="items">
    <div class="item">
      <img src="/assets/begin/menu/1.png" alt="">
      <h3>Static Website</h3>
    </div>
    <div class="bar"></div>
    <div class="item">
      <img src="/assets/begin/menu/2.png" alt="">
      <h3>Dynamic Website</h3>
    </div>
    <div class="bar"></div>
    <div class="item">
      <img src="/assets/begin/menu/3.png" alt="">
      <h3>Mobile Application</h3>
    </div>
    <div class="bar"></div>
    <div class="item">
      <img src="/assets/begin/menu/4.png" alt="">
      <h3>Both App & Website</h3>
    </div>
  </div>
</div>