<div class="container">
  <app-topbar [data]="data"></app-topbar>

  <div class="txt">
    <p>We ensure smooth running of IoT in your company via integrated operations platform, enterprise information, process management and IoT platform support services. IoT device management & Platform.</p>
    <p>DeltaCodes delivers Internet of Things (IoT) products, services and solutions that scale to help you grow your business.</p>
  </div>

  <app-drive></app-drive>

  <app-vid
  [options]="{
    autoplay: false,
    fluid: true,
    fill: true,
    controls: true,
    sources: [
      { src: 'https://dcvideo.b-cdn.net/vid01.mp4', type: 'video/mp4' }
    ],
    poster: 'https://i.ibb.co/JnXd3jx/Delivering-tech-at-scale.jpg'
  }">
  </app-vid>

  <app-learn></app-learn>

  <app-client-stories></app-client-stories>

  <div class="faq">
    <app-faq [Data]="faq"></app-faq>
  </div>

  <app-contact></app-contact>

</div>
