<div class="container">
  <h1>Great! <br>Now let's get some details</h1>
  <h2>What type of project do you need?</h2>

  <div class="items">
    <div class="item" (click)="submit(1)">
      <img src="/assets/begin/menu3/1.png" alt="">
      <h3>Data Science & ML</h3>
    </div>
    <div class="bar"></div>
    <div class="item" (click)="submit(2)">
      <img src="/assets/begin/menu3/2.png" alt="">
      <h3>AR / VR</h3>
    </div>
    <div class="bar"></div>
    <div class="item" (click)="submit(3)">
      <img src="/assets/begin/menu3/3.png" alt="">
      <h3>AI & Automation</h3>
    </div>
    <div class="bar"></div>
    <div class="item" (click)="submit(4)">
      <img src="/assets/begin/menu3/4.png" alt="">
      <h3>3D Modeling</h3>
    </div>
    <div class="bar"></div>
    <div class="item" (click)="submit(5)">
      <img src="/assets/begin/menu3/5.png" alt="">
      <h3>Microcontrollers</h3>
    </div>
  </div>
</div>
