.container {
  display: flex;
  flex-direction: column;
  padding: 80px 150px;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 38px;
}
h2 {
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 30px;
}
p {
  font-size: 18px;
  margin-bottom: 0px;
}

a {
  color: #0ac775;
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  color: #07a360;
}

li {
  margin-bottom: 10px;
}



/* Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {

}


/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 40px 80px 80px 80px;
  }
}


/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    padding: 40px 30px 80px 30px;
  }
}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    padding: 20px 20px 60px 20px;
  }
}
