<div class="container">
  <h1>Cookie Policy</h1>

  <p>
    We use cookies to make our websites more user-friendly. Find out about the main types of cookies we use, and what we use them for.
  </p>
  <p>
    The data we collect using cookies helps us understand our customers better so that we can provide a more focused user experience. Using the knowledge of your previous visits to our website, we can enhance subsequent visits by tailoring our content to match your requirements.
  </p>
  <p>
    We use cookies principally because we want to make our websites and mobile applications user-friendly, and we are interested in anonymous user behavior. Generally, our cookies don't store any sensitive or personally identifiable information such as your name and address or credit card details.
  </p>
  <p>
    In the unlikely event that our websites use cookies to store personal information about you, we encrypt the personal data to prevent unauthorized use by anyone else.
  </p>
  <p>
    Here's a list of the main types of cookies we use, and what we use them for.
  </p>

  <h2>Session cookie:</h2>
  <p>
    Session cookies remain only as long as a browsing session is active, and are intended to avoid user inconvenience during browsing. These cookies allow websites to link the actions of a user during a browser session and expire at the end of the browsing session. Session cookies also assist the user in navigating the website, and allow the user to access secure parts of the webpage when logged in.
  </p>

  <h2>Social Media Cookies:</h2>
  <p>
    If you use social media or other third party credentials to log in to our sites, that third party organization may set a cookie that allows that organization to recognize you. The third party organization may use that cookie for its own purposes. The organization may also show you ads and content from us when you visit its websites or use its applications.
  </p>
  <p>
    Also, if you use a social media-sharing button or widget on one of our sites, the social network that created the button will record your action for its own purposes.
  </p>
  <p>
    Please look to each social media organization’s privacy and data protection policy to understand
  </p>
  <ul>
    <li>its use of cookies;</li>
    <li>how it tracks you from our sites; and</li>
    <li>how to control such cookies and buttons.</li>
  </ul>

  <h2>Persistent Cookie:</h2>
  <p>
    Persistent cookies are stored on a user’s device even after termination of a browsing session. It helps in recalling the preferences or actions of the user. Persistent cookies are used for a variety of purposes such as retaining the visitor’s language and regional preference(s) at the end of each browsing session. We use services of third-party analytics service provider to analyze cookies to carry out a behavioral analysis in order to enhance user experience and convenience, and also to provide targeted and relevant content to visitors. Depending on the type and settings of your browser, cookies may be accepted by default. You may change the settings of your browser to delete existing cookies or prevent future cookies from being automatically accepted. If you disable cookies, certain parts and functions of our website may not be available. You can learn more about cookies at <a href="https://www.aboutcookies.org">www.aboutcookies.org</a>.
  </p>

  <h2>Third Party Cookies:</h2>
  <p>
    If you click on a hyperlink from DeltaCodes's websites to any third-party websites (for example, if you 'share' content from DeltaCodes's websites with friends or colleagues through social networks), you may be sent cookies from these third-party websites.
  </p>
  <p>
    Third-party websites will have their own privacy and cookie policies which DeltaCodes cannot control. Please check the third-party websites for more information about their cookies and how to manage them.
  </p>

  <h2>Managing cookies</h2>
  <p>
    There are ways you can control and manage cookies on your device. Please remember that any settings you change will not just affect the cookies we use. These changes will apply to all websites you visit (unless you choose to block cookies from particular sites).
  </p>

  <h2>Managing cookies in your browser</h2>
  <p>
    Most browsers will allow you to choose the level of privacy settings you want. You can block all cookies, or accept all cookies or pick a setting somewhere in between. This range lets you control your cookie settings, so you can:
  </p>
  <p>
    See what cookies you've got and delete them on an individual basis
  </p>
  <ul>
    <li>Block third party cookies</li>
    <li>Block cookies from particular sites</li>
    <li>Block all cookies from being set</li>
    <li>Delete all cookies when you close your browser</li>
  </ul>



</div>
