<div class="container">
  <h1 class="head">Contact <span>DeltaCodes</span></h1>
  <div class="contact">
    <div class="item">
      <img src="/assets/begin/call.png" alt="" class="l">
      <div class="r">+91 9228228888</div>
    </div>

    <div class="item">
      <img src="/assets/begin/mail.png" alt="" class="l">
      <div class="r">support@deltacodes.in</div>
    </div>

    <div class="item">
      <img src="/assets/begin/whatsapp.png" alt="" class="l">
      <div class="r">+91 9228228888</div>
    </div>

    <div class="item">
      <img src="/assets/begin/linkedin.png" alt="" class="l">
      <div class="r">linkedin.com/deltacodes</div>
    </div>

    <div class="item">
      <img src="/assets/begin/skype.png" alt="" class="l">
      <div class="r">skype.com/deltacodes</div>
    </div>

    <div class="item">
      <img src="/assets/begin/twitter.png" alt="" class="l">
      <div class="r">twitter.com/deltacodes</div>
    </div>
  </div>
</div>