<div class="container">
  <h1 class="head">Contact <span>DeltaCodes</span></h1>
  <div class="contact">
    <a href="tel:+918448441298" class="item">
      <img src="/assets/begin/call.png" alt="" class="l">
      <div class="r">+91 8448441298</div>
    </a>

    <a href="mailto: support@deltacodes.in" class="item">
      <img src="/assets/begin/mail.png" alt="" class="l">
      <div class="r">support@deltacodes.in</div>
    </a>

    <a href="https://wa.me/917798623604?text=Hey%20DeltaCodes" target="_blank" class="item">
      <img src="/assets/begin/whatsapp.png" alt="" class="l">
      <div class="r">+91 7798623604</div>
    </a>

    <a href="https://www.linkedin.com/in/deltacodes" target="_blank" class="item">
      <img src="/assets/begin/linkedin.png" alt="" class="l">
      <div class="r">linkedin.com/in/deltacodes</div>
    </a>

    <a href="skype:deltacodes%20global?call" class="item">
      <img src="/assets/begin/skype.png" alt="" class="l">
      <div class="r">skype : DeltaCodes Global</div>
    </a>

    <!-- <a class="item">
      <img src="/assets/begin/twitter.png" alt="" class="l">
      <div class="r">twitter.com/deltacodes</div>
    </a> -->
  </div>
</div>
