@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes drawCircle {
  0% {
    stroke-dashoffset: 251px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawCheck {
  0% {
    stroke-dashoffset: 56px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#successAnimation {
  height: 150px;
  width: 150px;
}
#successAnimationCircle {
  stroke-dasharray: 251px 251px;
  stroke: #0ac775;
}
#successAnimationCheck {
  stroke-dasharray: 56px 56px;
  stroke: #0ac775;
}
#successAnimationResult {
  fill: #2cbb97;
  opacity: 0;
}
#successAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation;
}
#successAnimation.animated #successAnimationCircle {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationCheck {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationResult {
  animation: 0.3s linear 0.9s both fadeIn;
}


.container {
  padding: 60px 100px;
  display: flex;
  flex-direction: column;
}

.c1 {
  display: flex;
  flex-direction: row;
}

.c1 h2 {
  font-size: 30px;
}
.c1 h3 {
  font-size: 20px;
}
.c1 .r {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.c1 span {
  color: #0ac775;
}
.c1 li {
  margin: 15px 0;
  color: #0ac775;
}
.c1 li a {
  color: #0ac775;
  font-weight: bold;
  font-size: 18px;
}







@media (min-width: 1025px) and (max-width: 1280px) {

}


/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {

}


/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {

  #successAnimation {
    height: 90px;
    width: 90px;
    margin-left: -12px;
  }
  .container {
    padding: 0px 30px;
  }
  .c1 {
    display: flex;
    flex-direction: column;
  }
  .c1 h2 {
    font-size: 20px;
  }
  .c1 h3 {
    font-size: 16px;
  }
  .c1 .r {
    margin-left: 0px;
  }
  .c1 span {
    color: #0ac775;
  }
  .c1 li {
    margin: 15px 0;
    color: #0ac775;
  }
  .c1 li a {
    color: #0ac775;
    font-weight: bold;
    font-size: 14px;
  }

}
