<div class="talk">
  <div class="l">
    <h1>Ready to talk?</h1>
    <label for="drop">I want to talk to your experts in:</label>
    <select id="drop">
      <option class="opt" value="0">Select an industry</option>
      <option class="opt" value="logistics">Logistics & Transportation</option>
      <option value="aviation">Aviation & Defence</option>
      <option value="oil">Oil & Gas</option>
      <option value="telco">Telecom & Internet</option>
      <option value="tech">Tech & Innovation (R&D)</option>
      <option value="finance">Financial Services</option>
      <option value="healthcare">HealthCare & Life Sciences</option>
      <option value="travel">Travel & Hospitality</option>
      <option value="retail">Retail & Ecommerce</option>
      <option value="edtech">Education & Digital Learning</option>
    </select>
  </div>
  <div class="r">
    <p>Our experts are ready to help you reduce cost and risk while innovating at speed with hybrid multicloud solutions.</p>
    <input type="email" placeholder="Your email">
    <button type="button">CONTACT US</button>
  </div>
</div>
