<div class="container">

  <div class="banner">
    <div class="overlay">
      <h1>Transforming the face of new age industries.</h1>
      <p>Learn more about how we leverage our expertise and technology to transform business by focusing on most critical issues and opportunities.</p>
      <button type="button">LEARN MORE</button>
    </div>
  </div>
  <div class="head">
    <h1 class="heading">Industries</h1>
    <div class="bar"></div>
  </div>
  <div class="industries">
    <div
      class="item"
      *ngFor="let item of industries"
      [routerLink]="['./', item.url]"
    >
      <img class="b" [src]="'/assets/industries/' + item.icon1 + '/b.png'" alt="{{item.icon1}}">
      <img class="w" [src]="'/assets/industries/' + item.icon1 + '/w.png'" alt="{{item.icon1}}">
      <h2>{{item.name}}</h2>
      <h3>LEARN MORE</h3>
    </div>
  </div>
  <div class="talk">
    <div class="l">
      <h1>Ready to talk?</h1>
      <label for="drop">I want to talk to your experts in:</label>
      <select id="drop">
        <option class="opt" value="0">Select an industry</option>
        <option class="opt" value="logistics">Logistics & Transportation</option>
        <option value="aviation">Aviation & Defence</option>
        <option value="oil">Oil & Gas</option>
        <option value="telco">Telecom & Internet</option>
        <option value="tech">Tech & Innovation (R&D)</option>
        <option value="finance">Financial Services</option>
        <option value="healthcare">HealthCare & Life Sciences</option>
        <option value="travel">Travel & Hospitality</option>
        <option value="retail">Retail & Ecommerce</option>
        <option value="edtech">Education & Digital Learning</option>
      </select>
    </div>
    <div class="r">
      <p>We work with ambitious leaders who want to define the future, not hide from it. Together, we achieve extraordinary outcomes.</p>
      <input type="email" placeholder="Your email">
      <button type="button">CONTACT US</button>
    </div>
  </div>

</div>
