<div class="container">
  <a (click)="expand()" class="topbar">
    <img [src]="header.icon" alt="">
    <span>{{header.name}}</span>
  </a>
  <div class="content"
    [ngClass]="{'shrinked': !expanded && header._id !== activated}"
  >
    <a class="item"
      *ngFor="let i of dummy"
      [routerLink]="['./']"
      [queryParams]="{ topic: header._id, title: i.url }"
      [routerLinkActive]="['activeroute']"
    >
      <span>&#9632;</span>
      <strong class="link">{{i.name}}</strong>
    </a>
    <div style="height: 30px;"></div>
  </div>
</div>
