<div class="container">
  <a [routerLink]="['/learning']" [queryParams]="{ topic: header.name, title: 'intro' }" class="topbar" (click)="expand()">
    <img [src]="header.icon" alt="">
    <span>{{header.name}}</span>
  </a>
  <div class="content" [class.shrinked]="!expanded">
    <a class="item"
      *ngFor="let i of dummy"
      [routerLink]="['/learning']"
      [queryParams]="{ topic: header.name, title: i.url }"
      [routerLinkActive]="['activeroute']"
    >
      <span>&#9632;</span>
      <strong class="link">{{i.name}}</strong>
    </a>
    <div style="height: 30px;"></div>
  </div>
</div>
