.container {
  display: flex;
  flex-direction: column;
}
.topbar {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px 20px;
  text-decoration: none;
}
.topbar:hover {
  background-color: #ddd;
}

img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.topbar span {
  font-size: 16px;
  color: #182846;
}
.content {
  margin-left: 25px;
  margin-top: 15px;
  max-height: 10000px;
  transition-duration: 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.shrinked {
  max-height: 0px !important;
  margin-top: 0px !important;
}
.item {
  margin-bottom: 10px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: rgb(56, 56, 117);
}
.item:hover span {
  color: #0ac775;
}
.item span {
  font-size: 20px;
  line-height: 20px;
  margin-right: 6px;
}


.activeroute {
  color: #0ac775 !important;
}
.activeroute span {
  color: #0ac775;
}
