<div class="container">
  <app-topbar [data]="data"></app-topbar>
  <div class="txt">
    <p>We serve you with end-to-end software consulting and product development solutions. We help you define, design, development, test and launch and take care of your software with the help of our wide range of domain expertise from different technology and knowledge domains - offering you great benefits from our expert consulting</p>
  </div>
  <app-drive></app-drive>
  <app-vid
  [options]="{
    autoplay: false,
    fluid: true,
    fill: true,
    controls: true,
    sources: [
      { src: 'https://dcvideo.b-cdn.net/vid01.mp4', type: 'video/mp4' }
    ],
    poster: 'https://i.ibb.co/JnXd3jx/Delivering-tech-at-scale.jpg'
  }">
  </app-vid>

  <app-learn></app-learn>

  <app-client-stories></app-client-stories>

  <div class="faq">
    <app-faq [Data]="faq"></app-faq>
  </div>

  <app-contact></app-contact>

</div>
