<section>
  <div class="section" [attr.id]='"1"' >
    <h1>one</h1>
    <div class="content">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt saepe exercitationem praesentium modi repudiandae dicta consectetur ab veritatis quaerat quibusdam quod, dolorem fugit temporibus voluptas magni ad odio, adipisci doloremque!
    </div>
  </div>

  <div class="section" [attr.id]='"2"' >
    <h1>two</h1>
    <div class="content">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt saepe exercitationem praesentium modi repudiandae dicta consectetur ab veritatis quaerat quibusdam quod, dolorem fugit temporibus voluptas magni ad odio, adipisci doloremque!
    </div>
  </div>

  <div class="section" [attr.id]='"3"' >
    <h1>threee</h1>
    <div class="content">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt saepe exercitationem praesentium modi repudiandae dicta consectetur ab veritatis quaerat quibusdam quod, dolorem fugit temporibus voluptas magni ad odio, adipisci doloremque!
    </div>
  </div>

  <div class="section" [attr.id]='"4"' >
    <h1>Four</h1>
    <div class="content">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt saepe exercitationem praesentium modi repudiandae dicta consectetur ab veritatis quaerat quibusdam quod, dolorem fugit temporibus voluptas magni ad odio, adipisci doloremque!
    </div>
  </div>

  <div class="section" [attr.id]='"5"' >
    <h1>Five</h1>
    <div class="content">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt saepe exercitationem praesentium modi repudiandae dicta consectetur ab veritatis quaerat quibusdam quod, dolorem fugit temporibus voluptas magni ad odio, adipisci doloremque!
    </div>
  </div>
</section>
