<div class="container">
  <app-topbar [data]="data"></app-topbar>
  <div class="txt">
    <p>If you´re looking for software development services, DeltaCodes is ready to help you to create innovative products, we make grow and scale your business. Be it a Waterfall, Agile or Scrum SDLC Model we customize software development services including mission critical architecture, design and development.</p>
  </div>
  <app-drive></app-drive>
  <app-vid
  [options]="{
    autoplay: false,
    fluid: true,
    fill: true,
    controls: true,
    sources: [
      { src: 'https://dcvideo.b-cdn.net/vid01.mp4', type: 'video/mp4' }
    ],
    poster: 'https://i.ibb.co/JnXd3jx/Delivering-tech-at-scale.jpg'
  }">
  </app-vid>

  <app-learn></app-learn>

  <app-client-stories></app-client-stories>

  <div class="faq">
    <app-faq [Data]="faq"></app-faq>
  </div>

  <app-contact></app-contact>

</div>
