.panel {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    padding: 15px 160px;
    flex-direction: row;
    background-color: transparent;
    color: white;
    z-index: 1000;
}
.navWhite {
    color: #333 !important;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

.nt {
    border-bottom: 1px solid rgba(221, 221, 221, 0.25);
    font-size: 16px;
    height: 15px;
}
.nt2 {
    top: 0;
}


.navbar .le {
    flex-grow: 1;
}
.navbar .le span {
    cursor: pointer;
    padding-left: 5px;
    transition-duration: 0.2s;
}
.navbar .le span:hover {
    color: #0ac775;
}

.navbar .re i {
    margin-left: 15px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.navbar .re .ttr:hover{
    color: rgb(85, 172, 238);
}
.navbar .re .lin:hover {
    color: #0077b5;
}
.navbar .re .ytb:hover {
    color: #c4302b;
}


.navbar .brand {
    font-size: 30px;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #0ac775;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.navbar .brand span {
    font-size: 20px;
    color: white;
    margin-top: 8px;
    margin-left: 2px;
}
.black {
    color: rgba(51, 51, 51, 0.7) !important;
}
.loadingBar {
    position: absolute;
    top: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, #6fce16 25%, #f1f1f1 50%, #74d419 75%);
    animation: Shift 1s infinite;
}
@keyframes Shift {
    0% {
      background-position: 0vw;
    }
    100% {
        background-position: 100vw;
    }
}

.navbar .spacer {
    display: flex;
    flex-grow: 1;
}

.navActive {
    color: #0ac775 !important;
    font-weight: 700;
}
.navbar .navs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .navs .nav {
    padding: 10px 30px;
}
.navbar .navs .nav a {
    color: inherit;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.05rem;
    transition-duration: 0.2s;
}
.navbar .navs .nav a:hover {
    color: #0ac775;
}
.navbar .nav3 {
    padding: 10px 15px;
    background-color: #0ac775;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.navbar .nav3 a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.05rem;
    transition-duration: 0.2s;
}
.navbar .nav3:hover {
    background-color: #0eb46c;
}


.navbar .navs2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
}

.navbar .navs2 .nav2 {
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    font-size: 20px;
    color: inherit;
    cursor: pointer;
}
.navbar .navs2 .nav2:hover {
    color: #0ac775;
}

.hidDrop {
    display: none !important;
}

.sideMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.97);
    color: black;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    animation-name: slideleft;
    animation-duration: 0.3s;
    z-index: 1000 !important;
}
@keyframes slideleft {
    from {left: 100%;}
    to {left: 0;}
}

.sideMenu .top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 40px 40px 0 0;
}

.sideMenu .top .close {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.sideMenu .top .close i {
    font-size: 38px;
    opacity: 0.77;
}
.sideMenu .top .close:hover i {
    opacity: 1;
    color: black;
}

.sideMenu .content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.sideMenu .content ul {
    list-style-type: none;
    margin-top: -100px;
    padding: 0;
    margin-bottom: 0;
}
.sideMenu .content ul li {
    text-align: center;
    padding: 10px 5px;
}

.sideMenu .content ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.sideMenu .content ul li .start {
    border: 2px solid #0ac775;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #0ac77570;
}

.sideMenu .content ul li:hover a {
    text-decoration: underline;
}

.searchwindow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 100px;
    display: flex;
    flex-direction: column;
    animation-name: slideleft;
    animation-duration: 0.3s;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000 !important;
}

.searchwindow .close {
    position: absolute;
    top: 70px;
    right: 70px;
    border-radius: 50%;
    cursor: pointer;
}
.searchwindow .close i {
    font-size: 38px;
    opacity: 0.8;
}
.searchwindow .close:hover i {
    opacity: 1;
}

.searchwindow h1 {
    font-size: 22px;
    opacity: 0.7;
    user-select: none;
}

.searchwindow .searchbar {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    padding-right: 50%;
}
.searchwindow .searchbar input {
    font-size: 60px;
    border: none;
    outline: none;
}


.outlet {
    margin-top: -143px;
}

.hide {
    display: none;
}






/* medi queries */


/* Laptops, Desktops */

@media (min-width: 1025px) and (max-width: 1280px) {
  
    .navbar {
        padding: 20px 90px !important;
    }
    
}
  

/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {
  
    .navbar {
        padding: 20px 60px !important;
    }
    .navbar .navs .nav {
        display: none;
    }
    .navbar .navs .nav3 {
        display: none;
    }
    .hidDrop {
        display: flex !important;
    }
}


/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {
  
    .navbar {
        padding: 20px 30px !important;
    }

    .navbar .navs .nav {
        display: none;
    }
    .navbar .navs .nav3 {
        display: none;
    }
    .hidDrop {
        display: flex !important;
    }
    
}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
    
    .navbar {
        padding: 10px 20px !important;
    }
    .navbar .navs .nav {
        display: none;
    }
    .navbar .navs .nav3 {
        display: none;
    }
    .hidDrop {
        display: flex !important;
    }

}