.panel {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: row;
    color: white;
    z-index: 1000;
    .le {
      text-decoration: none;
      color: white;
      width: max-content;
      transition-duration: 0.2s;
      span {
        cursor: pointer;
        padding-left: 5px;
        text-decoration: none;
      }
      &:hover {
        color: #0ac775;
      }
    }
    .re i {
      margin-left: 15px;
      cursor: pointer;
      transition-duration: 0.2s;
      color: white;
    }

    .brand {
      font-size: 30px;
      font-weight: 800;
      color: #0ac775;
      user-select: none;
      cursor: pointer;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      line-height: 30px;
      span {
        font-size: 25px;
        color: white;
        margin-left: 2px;
      }
    }
    .links a {
      color: white !important;
    }

    .navActive {
      color: #0ac775 !important;
      font-weight: 700;
    }

    .navs {
      display: flex;
      flex-direction: row;
      align-items: center;

      .nav {
        margin: 0 20px;
        position: relative;
        a {
          color: inherit;
          text-decoration: none;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 0.05rem;
          transition-duration: 0.2s;
          cursor: pointer;
        }
        &:hover {
          color: #0ac775;
        }
        &:hover .dropdown {
          max-height: 300px !important;
        }
        .dropdown {
          position: absolute;
          top: 50px;
          left: 0;
          background-color: whitesmoke;
          color: black;
          width: max-content;
          max-height: 0px !important;
          transition-duration: 0.2s;
          transition-delay: 0.4s;
          border-radius: 5px;
          overflow: hidden;
          box-shadow: 0px 1px 8px -5px black;
          .navio {
            padding: 5px 15px 0px 15px;
            a {
              font-size: 12px;
              font-weight: 600;
              &:hover {
                color: #0ac775;
              }
            }
          }
        }
      }
    }

    .nav3 {
      padding: 10px 15px;
      background-color: #0ac775;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      a {
        color: black;
        text-decoration: none;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.05rem;
        transition-duration: 0.2s;
      }
      &:hover {
        background-color: #0eb46c;
      }
    }
    .navs2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: rgba(255, 255, 255, 0.9);
      .nav2 {
        margin-left: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        font-size: 20px;
        color: inherit;
        cursor: pointer;
      }
      &:hover {
        color: #0ac775;
      }
    }
}
.navWhite {
    color: #333 !important;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.nt {
    border-bottom: 1px solid rgba(221, 221, 221, 0.25);
    font-size: 16px;
    height: 15px;
}
.black {
    color: rgba(51, 51, 51, 0.7) !important;
}
.loadingBar {
    position: fixed;
    top: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, #6fce16 25%, #f1f1f1 50%, #74d419 75%);
    animation: Shift 1s infinite;
}
@keyframes Shift {
    0% {
      background-position: 0vw;
    }
    100% {
        background-position: 100vw;
    }
}
.hidDrop {
    display: none !important;
}
.sideMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.97);
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    animation-name: slideleft;
    animation-duration: 0.3s;
    z-index: 1000 !important;
    .top {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 20px;
    }
    .close {
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      i {
        font-size: 38px;
        opacity: 0.9;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: scroll;
      padding: 20px;
      font-family: 'Montserrat', sans-serif;
    }
    h4 {
      font-family: 'Montserrat', sans-serif;
      font-size: 26px;
      font-weight: 800 !important;
      margin: 0 0 20px 20px;
      color: #ddd;
      span {
        color: #0ac775;
      }
    }
    .content {
      .social {
        margin-top: 30px;
        font-size: 24px;
        i {
          color: white;
          margin-right: 20px;
        }
      }
      ul {
        list-style-type: none;
        margin-bottom: 0;
        padding: 0;
        li {
          margin-bottom: 20px;
          i {
            font-size: 18px;
            margin-right: 10px;
          }
          a {
            text-decoration: none;
            font-size: 18px;
            font-weight: 400;
            color: white;
          }
          .start {
            color: #0ac775;
          }
          &:hover a {
            text-decoration: underline;
          }
        }
      }

    }
}
@keyframes slideleft {
    from {left: 100%;}
    to {left: 0;}
}
.searchwindow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 100px;
    display: flex;
    flex-direction: column;
    animation-name: slideleft;
    animation-duration: 0.3s;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000 !important;
    .close {
      position: absolute;
      top: 70px;
      right: 70px;
      border-radius: 50%;
      cursor: pointer;
      i {
        font-size: 38px;
        opacity: 0.8;
      }
      &:hover i {
        opacity: 1;
      }
    }
    h1 {
      font-size: 22px;
      opacity: 0.7;
      user-select: none;
    }
    .searchbar {
      display: flex;
      margin-top: 20px;
      flex-direction: column;
      padding-right: 50%;
      input {
        font-size: 60px;
        border: none;
        outline: none;
      }
    }
}
.outlet {
    margin-top: -143px;
}
.hide {
    display: none;
}

.footer2{
  display: flex;
  color: whitesmoke;
  background-color: #253746;
  font-size: 12px;
  user-select: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: #253746;
  padding-top: 50px;
  padding-bottom: 20px;
  justify-content: space-between;
  .sec {
    color: whitesmoke;
    width: max-content;
    padding-right: 10px;
    h2 {
      color: #0ac775;
      font-size: 16px;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 16px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      a {
        text-decoration: none;
        color: whitesmoke;
        margin-right: 10px;
      }
    }
    li {
      text-decoration: none;
      margin-bottom: 15px;
      font-size: 14px;
      color: whitesmoke;
      width: max-content;
      cursor: pointer;
      a:hover {
        color: rgb(184, 184, 184);
      }
    }
    p {
      line-height: 25px;
    }
  }
  .contact a {
    color: #0ac775;
    text-decoration: none;
    transition-duration: 0.2s;
    margin-bottom: 5px;
    &:hover {
      text-decoration: underline;
    }
  }
}
.cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(1, 1, 1);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  border-top: 1px solid rgb(40,40,40);
  display: flex;
  flex-direction: row;
  align-items: center;
  .l {
    font-size: 15px;
    font-weight: 400;
    a {
      color: #0ac775;
      text-decoration: none;
    }
  }
  .r {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    button {
      border: 1px solid #ddd;
      background: transparent;
      color: white;
      width: max-content;
      font-size: 16px;
      padding: 10px 20px;
      cursor: pointer;
      transition-duration: 0.2s;
      margin-left: 20px;
      outline: none;
      &:hover {
        border: 1px solid #0ac775;
        background-color: #0ac775;
      }
    }
    .close {
      padding: 10px 15px !important;
    }
  }
}





/* Laptops, Desktops */

@media (min-width: 1025px) and (max-width: 1280px) {
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    .navs {
      .nav {
        display: none;
      }
    }
  }
  .hidDrop {
      display: flex !important;
  }
  .resources {
    display: none;
  }
}


/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {
  .navbar {
      padding-top: 10px;
      padding-bottom: 10px;
      .navs {
        .nav {
          display: none;
        }
        .nav3 {
          display: none;
        }
      }
  }
  .hidDrop {
      display: flex !important;
  }
  .links {
    display: none;
  }
  .footer {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .resources {
    display: none;
  }

  .cookie {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: flex-start;
    .l {
      font-size: 14px;
      p {
        margin-top: 0px;
      }
    }
    .r {
      margin-left: 0px;
      button {
        font-size: 14px;
        padding: 8px 15px;
        margin-left: 0px;
      }
      .close {
        margin-left: 15px;
      }
    }
  }
}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {

    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
        .navs {
          .nav {
            display: none;
          }
          .nav3 {
            display: none;
          }
        }
    }
    .hidDrop {
        display: flex !important;
    }
    .links {
      display: none;
    }
    .footer {
      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .resources {
      display: none;
    }

    .cookie {
      flex-direction: column;
      align-items: flex-start;
      .l {
        font-size: 14px;
        p {
          margin-top: 0px;
        }
      }
      .r {
        margin-left: 0px;
        button {
          font-size: 14px;
          padding: 8px 15px;
          margin-left: 0px;
        }
        .close {
          margin-left: 15px;
        }
      }
    }
}
