<div class="panel">
  <div #loading class="loadingBar hide"></div>
  <div class="navbar nt" [class.hide]="hideTopNav">
    <a href="tel:+918448441298" class="le">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span>+91 8448441298</span>
    </a>
    <div class="expanded"></div>
    <div class="free">
      <a href="./campaign">Free website development</a>
    </div>
    <div class="re">
        <a href="https://twitter.com/delta_codes" target="_blank"><i class="fa fa-twitter ttr" aria-hidden="true"></i></a>
        <a href="https://linkedin.com/company/deltacodes" target="_blank"><i class="fa fa-linkedin lin" aria-hidden="true"></i></a>
        <a href="https://instagram.com/deltacodes" target="_blank"><i class="fa fa-instagram ytb" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="navbar nt2" [class.navWhite]="hideTopNav">
    <a [routerLink]="['/']" class="brand">Delta<span [class.black]="hideTopNav">Codes</span></a>
    <div class="spacer"></div>
    <div class="navs">
      <div class="nav"><a href="/services" routerLink = "/services"  routerLinkActive="navActive">Services</a>
        <div class="dropdown">
          <div class="navio"><a href ="/services/product">Product Engineering</a></div>
          <div class="navio"><a href ="/services/web">Web Development</a></div>
          <div class="navio"><a href ="/services/app">App Development</a></div>
          <div class="navio"><a href="/services/software">Enterprise Software Development</a></div>
          <div class="navio"><a href="/services/testing">Software Q/A & Testing</a></div>
          <div class="navio"><a href="/services/consulting">IT Consulting</a></div>
          <div class="navio"><a href="/services/uiux">UI / UX Development</a></div>
          <div class="navio"><a href="/services/analytics">Data Analytics</a></div>
          <div class="navio"><a href="/services/security">Cyber Security</a></div>
          <div class="navio"><a href="/services/3d">3D Modeling</a></div>
          <div class="navio"><a href="/services/iot">IoT Solutions</a></div>
          <div class="navio"><a href="/services/robotics">Industrial Robotics and UAV's</a></div>
          <div style="height: 8px;"></div>
        </div>
      </div>
      <div class="nav"><a href="/industries" routerLink = "/industries"  routerLinkActive="navActive">Industries</a>
        <div class="dropdown">
          <div class="navio"><a href ="/industries/logistics">Logistics & Transportation</a></div>
          <div class="navio"><a href ="/industries/oil">Oil & Gas</a></div>
          <div class="navio"><a href ="/industries/telecom">Telecom & Internet</a></div>
          <div class="navio"><a href ="/industries/tech">Tech & Innovation (R&D)</a></div>
          <div class="navio"><a href ="/industries/financial">Financial Services</a></div>
          <div class="navio"><a href ="/industries/healthcare">Healthcare & Life Sciences</a></div>
          <div class="navio"><a href ="/industries/travel">Travel & Hospitality</a></div>
          <div class="navio"><a href ="/industries/retail">Retail & Ecommerce</a></div>
          <div class="navio"><a href ="/industries/education">Education & Digital Learning</a></div>
          <div style="height: 8px;"></div>
        </div>
      </div>
      <div class="nav"><a routerLink = "/about"  routerLinkActive="navActive">Approach</a></div>
      <div class="nav"><a routerLink = "/career"  routerLinkActive="navActive">Career</a></div>
      <div class="nav"><a routerLink = "/blog"  routerLinkActive="navActive">Blog</a></div>
      <a routerLink="/start" class="nav3"><a>Get Started</a></a>
      <div class="navs2" [class.black]="hideTopNav">
        <div class="nav2" (click)="showSearch()"><i class="fa fa-search" aria-hidden="true"></i></div>
        <div class="nav2 hidDrop" (click)="showMenu()"><i class="fa fa-bars" aria-hidden="true" ></i></div>
      </div>
    </div>
  </div>

  <div class="sideMenu" *ngIf="MenuWindow">
    <div class="top">
      <div class="close" (click)="hideMenu()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
    <h4><span>Delta</span>Codes</h4>
    <div class="content">
      <ul>
        <li><i class="fa fa-square-o" aria-hidden="true"></i><a routerLink = "/services" (click)="hideMenu()">Services</a></li>
        <li><i class="fa fa-square-o" aria-hidden="true"></i><a routerLink = "/industries" (click)="hideMenu()">Industries</a></li>
        <li><i class="fa fa-square-o" aria-hidden="true"></i><a routerLink = "/about" (click)="hideMenu()">Approach</a></li>
        <li><i class="fa fa-square-o" aria-hidden="true"></i><a routerLink = "/career" (click)="hideMenu()">Career</a></li>
        <li><i class="fa fa-square-o" aria-hidden="true"></i><a routerLink = "/blog" (click)="hideMenu()">Blog</a></li>
        <li><i class="fa fa-square-o" aria-hidden="true"></i><a routerLink = "/contact" (click)="hideMenu()">Contact Us</a></li>
        <li><i class="fa fa-square-o start" aria-hidden="true"></i><a class="start" routerLink = "/start" (click)="hideMenu()">Start a Project</a></li>
      </ul>
      <div class="social">
        <a href="https://twitter.com/delta_codes" target="_blank"><i class="fa fa-twitter ttr" aria-hidden="true"></i></a>
        <a href="https://linkedin.com/company/deltacodes" target="_blank"><i class="fa fa-linkedin lin" aria-hidden="true"></i></a>
        <a href="https://instagram.com/deltacodes" target="_blank"><i class="fa fa-instagram ytb" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="searchwindow" *ngIf="SearchWindow">
      <div class="close" (click)="hideSearch()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
      <h1 (click)="click()">WHAT ARE YOU LOOKING FOR?</h1>
      <div class="searchbar">
          <input type="text" spellcheck="false" placeholder="Search here">
      </div>
  </div>

  <div class="outlet">
      <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <div class="about sec">
      <h2>SOLUTIONS</h2>
      <!-- <p>DeltaCodes helps Start-ups and Top Tech Firms across the globe with all kinds of tech solutions needed for the new digital age.</p> -->
      <ul>
        <li><a routerLink="/services/analytics">Data Analytics</a></li>
        <li><a routerLink="/services/security">Cyber Security</a></li>
        <li><a routerLink="/services/3d">3D Modeling</a></li>
        <li><a routerLink="/services/iot">IoT Solutions</a></li>
        <li><a routerLink="/services/robotics">Industrial Robotics and UAV's</a></li>
      </ul>
    </div>
    <div class="services sec">
      <h2>IT SERVICES</h2>
      <ul>
        <li><a routerLink="/services/product">Product Engineering</a></li>
        <li><a routerLink="/services/web">Web Development</a></li>
        <li><a routerLink="/services/app">App Development</a></li>
        <li><a routerLink="/services/software">Enterprise Software Development</a></li>
        <li><a routerLink="/services/testing">Software Q/A & Testing</a></li>
        <li><a routerLink="/services/consulting">IT Consulting</a></li>
        <li><a routerLink="/services/uiux">UI / UX Development</a></li>
      </ul>
    </div>
    <div class="resources sec">
      <h2>RESOURCES</h2>
      <ul>
        <li><a routerLink="/blog">Blog</a></li>
        <li><a routerLink="/about">How D-Codes Works</a></li>
        <li><a routerLink="/case-studies">Case Studies</a></li>
        <li><a routerLink="/news">News</a></li>
        <li><a routerLink="/career">Career</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
      </ul>
    </div>
    <div class="contact sec">
      <h2>CONTACT US</h2>
      <h3>India Headquarters</h3>
      <p>+91 8448441298<br>support@deltacodes.in<br>14th Floor, JM Orchid | Sector 74, Noida 201304</p>
    </div>
    <div class="othr sec">
      <h2>FOLLOW US</h2>
      <ul>
        <a href="https://twitter.com/delta_codes" target="_blank"><i class="fa fa-twitter ttr" aria-hidden="true"></i></a>
        <a href="https://linkedin.com/company/deltacodes" target="_blank"><i class="fa fa-linkedin lin" aria-hidden="true"></i></a>
        <a href="https://instagram.com/deltacodes" target="_blank"><i class="fa fa-instagram ytb" aria-hidden="true"></i></a>
      </ul>
    </div>
  </div>
  <div class="footer2">
    Copyright © Deltacodes India Inc. All Rights Reserved.
  </div>

  <div class="cookie" *ngIf="cookieStatus">
    <div class="l">
      <p>This website uses cookies to enhance your digital experience. For additional information please visit <a href="/public/privacy-policy">Privacy Policy</a> and <a href="/public/cookie-policy">Cookie Policy</a>.</p>
    </div>
    <div class="r">
      <button (click)="acceptCookie()">ACCEPT COOKIES</button>
      <button (click)="declineCookie()" class="close"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
  </div>

</div>
