<div class="container">
  <div class="navtop">
    <h1>Let us know more about your skills <br> ( Max 30 )</h1>
    <div class="bar"></div>
  </div>

  <div class="form">
    <div class="item">
      <div class="add">Add</div>
      <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
      <input type="text" placeholder="Skills">
    </div>
    <div class="skills">
      <div class="skill">Ajax</div>
      <div class="skill">jQuery</div>
      <div class="skill">React</div>
      <div class="skill">Ajax</div>
      <div class="skill">jQuery</div>
      <div class="skill">React</div>
      <div class="skill">Ajax</div>
      <div class="skill">jQuery</div>
      <div class="skill">React</div>
      <div class="skill">Ajax</div>
      <div class="skill">jQuery</div>
      <div class="skill">React</div>
      <div class="skill">Ajax</div>
      <div class="skill">jQuery</div>
      <div class="skill">React</div>
      <div class="skill">Ajax</div>
      <div class="skill">jQuery</div>
      <div class="skill">React</div>
      <div class="skill">Ajax</div>
      <div class="skill">jQuery</div>
      <div class="skill">React</div>
      <div class="skill">Ajax</div>
      <div class="skill">jQuery</div>
      <div class="skill">React</div>
      <div class="skill">Ajax</div>
      <div class="skill">jQuery</div>
      <div class="skill">React</div>
      <div class="skill">Ajax</div>
      <div class="skill">jQuery</div>
      <div class="skill">React</div>
      <div class="skill">Ajax</div>
      <div class="skill">jQuery</div>
      <div class="skill">React</div>
      <div class="skill">Ajax</div>
      <div class="skill">jQuery</div>
      <div class="skill">React</div>
    </div>
  </div>
  
  <div class="bottom">
    <div class="spacer"></div>
    <div class="submit" (click)="submit()">
      <i *ngIf="!submitted" class="fa fa-arrow-right" aria-hidden="true"></i>
      <i *ngIf="submitted" class="fa fa-circle-o-notch rotating" aria-hidden="true"></i>
    </div>
  </div>
</div>