<div class="container">
  <app-topbar [data]="data"></app-topbar>

  <div class="txt">
    <p>A major factor in the strong future of service robots for professional use is the introduction of the Robots-as-a-Service (RaaS) model of ownership. By leasing either the cloud computing capabilities or the robot itself, the capital barriers to adoption are effectively minimized. As investment increases and technology advances, ample opportunity awaits those interested in finding success in this dynamic, emerging industry.</p>
    <p>Delivering Accurate, High Resolution, Digital Mapping Products utilizing the latest in unmanned aerial vehicle (UAV / Drone) technology.</p>
  </div>

  <app-drive></app-drive>

  <app-vid
  [options]="{
    autoplay: false,
    fluid: true,
    fill: true,
    controls: true,
    sources: [
      { src: 'https://dcvideo.b-cdn.net/vid01.mp4', type: 'video/mp4' }
    ],
    poster: 'https://i.ibb.co/JnXd3jx/Delivering-tech-at-scale.jpg'
  }">
  </app-vid>

  <app-learn></app-learn>

  <app-client-stories></app-client-stories>

  <div class="faq">
    <app-faq [Data]="faq"></app-faq>
  </div>

  <app-contact></app-contact>

</div>
