<div class="container">
  <div class="top">
    <h1>Delta<span>codes</span></h1>
    <div class="bar"></div>
    <div class="items">
      <div class="item" id="i1">
        <h2>A robust team of highly skilled developers handling all your <span>demands</span></h2>
        <p>Developers at Deltacodes like it raw, they love what they do and are expert in their respective fields.
          From handling peak traffic at odd hours to securing highly sensitive data from attackers, they have done it all time and again.
        </p>
      </div>

      <div class="item" id="i2">
        <h2>Codes that drive millions <span>everyday</span></h2>
        <p>
          Each and every D-coder believes in delivering experience rather than a product and because we understand the value of an idea,
          we plan, develop and execute your product as our own.
        </p>
      </div>

      <div class="item" id="i3">
        <h2>A team that's truly dedicated to your <span>project</span></h2>
        <p>
          Based on project requirement, DeltaCodes assigns dedicated resources for your project who work with you until the completion of project and later assigns it to the maintenance team making sure the end product is just as expected.
        </p>
      </div>
    </div>
    <div class="sc">
      SCROLL DOWN.
    </div>

    <div class="scroller">
      <div class="slide">
        <div class="content">
          <div class="i">
            <img src="/assets/how/deal.png" alt="">
          </div>
          <div class="text">
            <h2>We get a project</h2>
            <div class="bar"></div>
            <p>We get a development project and finalize the deal.</p>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="content">
          CONTENT
        </div>
      </div>

      <div class="slide">
        <div class="content">
          CONTENT
        </div>
      </div>

      <div class="slide">
        <div class="content">
          CONTENT
        </div>
      </div>

      <div class="slide">
        <div class="content">
          CONTENT
        </div>
      </div>
    </div>

  </div>
</div>