<div class="container">
  <div class="top">
    <h1>Delta<span>codes</span></h1>
    <div class="bar"></div>
    <div class="items">
      <div class="item" id="i1">
        <h2>A robust team of highly skilled developers handling all your <span>demands</span></h2>
        <p>Developers at Deltacodes like it raw, they love what they do and are expert in their respective fields.
          From handling peak traffic at odd hours to securing highly sensitive data from attackers, they have done it all time and again.
        </p>
      </div>

      <div class="item" id="i2">
        <h2>Codes that drive millions <span>everyday</span></h2>
        <p>
          Each and every D-coder believes in delivering experience rather than a product and because we understand the value of an idea,
          we plan, develop and execute your product as our own.
        </p>
      </div>

      <div class="item" id="i3">
        <h2>A team that's truly dedicated to your <span>project</span></h2>
        <p>
          Based on project requirement, DeltaCodes assigns dedicated resources for your project who work with you until the completion of project and later assigns it to the maintenance team making sure the end product is just as expected.
        </p>
      </div>
    </div>
    <div class="sc">
      SCROLL DOWN.
    </div>

    <div class="scroller">
      <div class="slide" >
        <div class="content" ngxInViewport (inViewport)="show($event, 'c1')" id="c1">
          <div class="i">
            <img src="/assets/how/deal.png" alt="">
          </div>
          <div class="text">
            <h2>We get a project</h2>
            <div class="bar"></div>
            <p>
              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form.
            </p>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="content" ngxInViewport (inViewport)="show($event, 'c2')" id="c2">
          <div class="i">
            <img src="/assets/how/planning.png" alt="">
          </div>
          <div class="text">
            <h2>Project planning and analysis is done</h2>
            <div class="bar"></div>
            <p>
              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form.
            </p>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="content" ngxInViewport (inViewport)="show($event, 'c3')" id="c3">
          <div class="i">
            <img src="/assets/how/partner.png" alt="">
          </div>
          <div class="text">
            <h2>DeltaCodes forms a dedicated team</h2>
            <div class="bar"></div>
            <p>
              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form.
            </p>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="content" ngxInViewport (inViewport)="show($event, 'c4')" id="c4">
          <div class="i">
            <img src="/assets/how/roadmap.png" alt="">
          </div>
          <div class="text">
            <h2>Team creates development roadmap</h2>
            <div class="bar"></div>
            <p>
              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form.
            </p>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="content" ngxInViewport (inViewport)="show($event, 'c5')" id="c5">
          <div class="i">
            <img src="/assets/how/development.png" alt="">
          </div>
          <div class="text">
            <h2>Team works with you until deployment.</h2>
            <div class="bar"></div>
            <p>
              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form.
            </p>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="content" ngxInViewport (inViewport)="show($event, 'c6')" id="c6">
          <div class="i">
            <img src="/assets/how/deploy.png" alt="">
          </div>
          <div class="text">
            <h2>Project is deployed live</h2>
            <div class="bar"></div>
            <p>
              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>