.container {
    min-height: 100vh;
    margin-top: 143px;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    font-family: 'Montserrat', sans-serif;
}

.bar {
    height: 6px;
    width: 90px;
    background-color: #0ac775;
    border-radius: 10px;
}
.top {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.top h1 {
    margin: 0;
    font-size: 50px;
    color: #333;
}
.top h1 span {
    opacity: 0.6;
    margin: 0;
    padding: 0;
}

.top .items {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}
.top .l {
    flex: 5;
}
.top .r {
    flex: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.top .r img {
    margin-top: 100px;
    max-width: 130%;
    max-height: 100%;
}
.top .l .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    opacity: 0;
    margin-left: -200px;
}
.top .item h2 {
    margin: 0;
    color: #333;
}
.top .item h2 span {
    color: #0ac775;
}
.top .item p {
    max-width: 75%;
}


.start {
    opacity: 1 !important;
    -webkit-animation: slide 0.6s ease-out forwards;
       -moz-animation: slide 0.6s ease-out forwards;
        -ms-animation: slide 0.6s ease-out forwards;
         -o-animation: slide 0.6s ease-out forwards;
            animation: slide 0.6s ease-out forwards;
}
@-webkit-keyframes slide {
    0% {margin-left: -200px; opacity: 0.1;}
    100% { margin-left: 0; opacity: 1;}
}

@keyframes slide {
    0% {margin-left: -200px; opacity: 0.1;}
    100% { margin-left: 0; opacity: 1;}
}

.schead {
    margin: 10px 0 0 0;
    font-size: 50px;
    color: #333;
}
.schead span{
    color: #0ac775;
}
.scroller {
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}
.scroller .slide {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}
.scroller .slide .content {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: -200px;
    opacity: 0;
}

.slide .content .i {
    display: flex;
    width: 300px;
    align-items: flex-start;
    justify-content: center;
}
.slide .content .i img {
    max-width: 100%;
}
.slide .content .text {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.slide .content .text h2 {
    font-size: 30px;
    color: #333;
    margin: 20px 0 8px 0;
}
.slide .content .text p {
    max-width: 60%;
    margin-top: 30px;
}


.dcoder {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}
.dcoder .text {
    flex: 1;
    font-weight: 600;
    color: #333;
    line-height: 30px;
    font-size: 18px;
}
.dcoder .img {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.dcoder .img img {
    max-width: 100%;
}