.main {
    background-color: white;
    padding: 100px 180px;
}

.content {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.content .tb {
    flex: 1;
    display: flex;
    margin: 10px;
    margin: 20px;
}

.content .r {
    flex-direction: column;
}
.content .l {
    align-items: center;
}

.tb h2 {
    font-size: 55px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    opacity: 0.85;
}
.tb h2 span {
    color: #0ac775;
}
.tb p {
    font-size: 18px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
    margin-top: 30px;
}

.tb img {
    width: 100%;
}
















@media (min-width: 1025px) and (max-width: 1280px) {

}
  

/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {
    
}


/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {
    
}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
    .main {
        padding: 10px 10px;
    }
    .content {
        flex-direction: column;
        margin-bottom: 60px;
    }
    .con2 {
        flex-direction: column-reverse;
    }
    
    .content .tb {
        margin: 10px;
    }
    
    .tb h2 {
        font-size: 35px;
        margin-top: 20px;
    }
    .tb p {
        font-size: 14px;
        font-weight: 200;
        line-height: 30px;
    }
}