<div class="main">
  <div class="content">
    <div class="l tb">
      <img src="/assets/gif/1.gif" alt="">
    </div>
    <div class="r tb">
      <h2>A digital house built for <span>all.</span></h2>
      <p>
        Think digital, think Deltacodes. From baby steps like getting your business online to future defining technologies like AI and Machine learning,
         Deltacodes caters to everything right from Blockchain research to the enigmatic world of drones, robotics and autonomous driving.
      </p>
    </div>
  </div>
  <div class="content con2">
    <div class="r tb">
      <h2>A bit of code for every <span>device.</span></h2>
      <p>
        All devices, irrespective of size and capabilities, have a significant number of users, and hence potential customers. At DeltaCodes we
         ensure that your digital footprint is not limited to a specific platform or device. Moreover all our products are optimised to work on a variety of platforms and devices.
      </p>
    </div>
    <div class="l tb">
      <img src="/assets/gif/3.gif" alt="">
    </div>
  </div>
  <div class="content">
    <div class="l tb">
      <img src="/assets/gif/2.gif">
    </div>
    <div class="r tb">
      <h2>A Team that delivers <span>all.</span></h2>
      <p>Be it impeccable codes or exemplary customer support, The deltaCodes team strives round the clock to delivering the commitments and makeing
        the digital world safer for our consumers by implementing military grade encryption of critical data at rest and during transmission an by implementing realtime digital threat assesment on the web.</p>
    </div>
  </div>
</div>
