<div class="main">
  <div class="content">
    <div class="l tb">
      <img src="/assets/gif/1.gif" alt="">
    </div>
    <div class="r tb">
      <h2>A digital house built for <span>all.</span></h2>
      <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
    </div>
  </div>
  <div class="content">
    <div class="r tb">
      <h2>A bit of code for every <span>device.</span></h2>
      <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
    </div>
    <div class="l tb">
      <img src="/assets/gif/3.gif" alt="">
    </div>
  </div>
  <div class="content">
    <div class="l tb">
      <img src="/assets/gif/2.gif">
    </div>
    <div class="r tb">
      <h2>A Team that delivers <span>all.</span></h2>
      <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
    </div>
  </div>
</div>