.container {
  margin-top: 73px;
  min-height: 100vh;
}

.image {
  background: url(/assets/checklist/1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;

  .overlay {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    padding: 100px 10vw;
    color: white;
    position: relative;

    svg {
      position: absolute;
      bottom: -20px;
      left: 0;
      right: 0;
    }

    .l {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 130px;
        margin: 0;
        font-weight: 900;
        line-height: 130px;
        span {
          color: #0ac775;
        }
      }

      p {
        font-size: 30px;
        line-height: 30px;
        font-weight: 300;
        margin: 5px 0 0 8px;
        padding-top: 10px;
      }
    }
  }
}


.info {
  padding: 40px 180px;
}



























/* Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {

}


/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {

}


/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
  .image {
    height: 80vh;

    .overlay {
      padding: 100px 20px;

      svg {
        bottom: -2px;
      }

      .l {

        h1 {
          font-size: 35px;
          line-height: 35px;
        }

        p {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
  .info {
    padding: 40px 20px;
  }
}
