.container {
  margin-top: 73px;
  min-height: 100vh;
}

.image {
  background: url(/assets/checklist/1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.image .overlay {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  padding: 100px 10vw;
  color: white;
}
.image .overlay .l {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.overlay .l h1 {
  font-size: 130px;
  margin: 0;
  font-weight: 900;
  line-height: 130px;
}
.overlay .l h1 span {
  color: #0ac775;
}
.overlay .l p {
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
  margin: 5px 0 0 8px;
  padding-top: 10px;
}
