<div class="container">
  <div class="head">
    <h1>Let's start your <span>Project</span></h1>
  </div>

  <div class="animation">
    <div class="ctr">
      <img class="" #bike [style.left]="" src="/assets/start/cycle.gif" alt="">
    </div>
  </div>

  <div class="menu">
    <h4 class="hd">Select one to get started or - <a href="">Get in touch directly.</a></h4>
    <div class="sections">
      <div class="sec">
        <img src="/assets/start/web.png" alt="">
        <h4>Websites and Mobile App</h4>
      </div>
      <div class="hor"></div>
      <div class="sec">
        <img src="/assets/start/services.png" alt="">
        <h4>Services and Maintenance</h4>
      </div>
      <div class="hor"></div>
      <div class="sec">
        <img src="/assets/start/tech.png" alt="">
        <h4>Advanced Technologies</h4>
      </div>
    </div>
  </div>
</div>