.container {
  box-sizing: border-box;
  background: url('/assets/services/banbg.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.overlay {
  padding: 20px 30px;
  color: white;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.65);
  height: 100%;
}

.route {
  color: white;
  font-size: 14px;
  user-select: none;
  font-weight: 600;
}
.route a {
  text-decoration: none;
  color: white;
}
.route a:hover {
  color: rgb(0, 255, 140);
}

h1 {
  margin: 20px 0 5px 10px;
  font-size: 32px;
  font-weight: 800;
}

h3 {
  font-size: 20px;
  margin-left: 10px;
  font-weight: 600;
  color: white;
}
.more {
  margin-left: 10px;
  margin-bottom: 20px;
  width: max-content;
  color: white;
}
.more:active {
  color: rgb(124, 0, 72);
}













/* Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {

}


/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {

}


/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {

}
