<div class="container">
  <div class="l">
    <video
      #target
      class="video-js vjs-default-skin vjs-big-play-centered"
      controls muted playsinline preload="none"
    >
    </video>
  </div>
  <div class="r">
    <h1>Technology at DeltaCodes</h1>
    <h2>See how DeltaCodes can help you go digital and decrease costs with expert, single source support for all your tech needs.</h2>
    <p>Uncover insights and power your data with AI to make smarter decisions, reimagine customer experiences, and transform your enterprise.</p>
    <p class="link"><a href="/industries">Learn More about industries we serve</a></p>
    <p class="link"><a href="/download/report">Get the report</a></p>
  </div>
</div>
