<div class="content">
  <div class="stars"></div>
  <div class="twinkling"></div>
  <div class="banner">
      <div class="boy">
          <div class="on">
              <img [ngStyle]="{'transform': 'scale(1.9)'}" class="im1" src="/assets/anim/trans2/11.png">
              <img [ngStyle]="{'transform': 'rotate(-'+ pneck +'deg) skew('+ pneckSkew +'deg) scale(1.9)'}" class="im2" src="/assets/anim/trans2/22.png">
              <img [ngStyle]="{'transform': 'rotate(-'+ phead +'deg) skew('+ pheadSkew +'deg) scale(1.9)'}" class="im3" src="/assets/anim/trans2/33.png">
              <img [ngStyle]="{'transform': 'rotate('+ pbicep +'deg) skew(-'+ pbicepSkew +'deg) scale(1.9)'}" class="im4" src="/assets/anim/trans2/44.png">
              <img [ngStyle]="{'transform': 'rotate('+ parm +'deg) skew('+ parmSkew +'deg) scale(1.9)'}" class="im6" src="/assets/anim/trans2/66.png">
              <img [ngStyle]="{'transform': 'rotate('+ ppalm +'deg) skew(-'+ ppalmSkew +'deg) scale(1.9)'}" class="im5" src="/assets/anim/trans2/55.png">
          </div>
      </div>
      <div class="anim">
          <div class="r" [class.hide]="hide" #anim [style.top.px]="posy" [style.right.px]="posx">
              <div class="top">
                  <div class="one">
                      <p [class.leftIn]="animate">{{id}}</p>
                  </div>
                  <div class="two" [class.heightDown]="animate"></div>
                  <div class="three">
                      <div class="textTop" [class.rightIn]="animate">{{head}}</div>
                      <div class="textBtm" [class.rightIn]="animate">{{head2}}</div>
                  </div>
              </div>
              <div class="mid" [class.leftIn]="animate">{{detail}}</div>
              <div class="btm">
                  <a routerLink="/start" class="btn1 btn" [class.slideUp]="animate">Start Now</a>
                  <a routerLink="/about" class="btn2 btn" [class.slideUp2]="animate">Learn More</a>
              </div>
          </div>
      </div>
      <div class="skew"></div>
  </div>

  <div class="how">
      <div class="opts">
          <div class="nav">
              <img src="/assets/imgs/1.gif" alt="">
              <h6>Websites</h6>
          </div>
          <div class="nav">
              <img src="/assets/imgs/2.gif" alt="">
              <h6>Apps</h6>
          </div>
          <div class="nav">
              <img src="/assets/imgs/3.gif" alt="">
              <h6>Everything else</h6>
          </div>
      </div>
  </div>

  <app-sliderbg></app-sliderbg>

  <div class="scrl">
    <div class="head">
        <h2>Services</h2>
        <div class="bar"></div>
        <div class="drag">
            <img src="/assets/slider/palm.png" alt="">
            <span></span>
        </div>
    </div>
      <div class="drag-scroll" #slider>
        <div class="item i1">
            <div class="content" style="background-color: #eeeeee">
                <div class="l">
                    <div class="text wrapword">Website <br> Designing & <br> Development</div>
                    <div class="bar"></div>
                </div>
                <div class="r">
                    <img draggable="false" src="/assets/slider/website.gif" alt="">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content" style="background-color: rgb(87, 87, 236)">
                <div class="l">
                    <div class="text wrapword">E-Commerce <br> Design & <br> Development</div>
                    <div class="bar"></div>
                </div>
                <div class="r">
                    <img draggable="false" src="/assets/slider/ecommerce.gif" alt="">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content" style="background-color: rgb(163, 163, 163)">
                <div class="l">
                    <div class="text wrapword">Mobile <br> Application <br> Development</div>
                    <div class="bar"></div>
                </div>
                <div class="r">
                    <img draggable="false" src="/assets/slider/mobile.gif" alt="">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content" style="background-color: rgb(75, 183, 226)">
                <div class="l">
                    <div class="text wrapword">Product <br> Development</div>
                    <div class="bar"></div>
                </div>
                <div class="r">
                    <img draggable="false" src="/assets/slider/product.gif" alt="">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content" style="background-color: rgb(11, 138, 121)">
                <div class="l">
                    <div class="text wrapword">UI/UX <br> Development</div>
                    <div class="bar"></div>
                </div>
                <div class="r r2">
                    <img draggable="false" src="/assets/slider/uiux.gif" alt="">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content" style="background-color: rgb(218, 216, 213)">
                <div class="l">
                    <div class="text wrapword">Search Engine <br> Optimisation</div>
                    <div class="bar"></div>
                </div>
                <div class="r r2">
                    <img draggable="false" src="/assets/slider/seo.gif" alt="">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content" style="background-color: rgb(255, 115, 0)">
                <div class="l">
                    <div class="text wrapword">Social Media <br> Optimisation</div>
                    <div class="bar"></div>
                </div>
                <div class="r">
                    <img draggable="false" src="/assets/slider/SocialMedia.gif" alt="">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content" style="background-color: rgb(37, 202, 86)">
                <div class="l">
                    <div class="text wrapword">Digital <br> Marketing</div>
                    <div class="bar"></div>
                </div>
                <div class="r">
                    <img draggable="false" src="/assets/slider/digitalmarketing.gif" alt="">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content" style="background-color: crimson">
                <div class="l">
                    <div class="text wrapword">Annual <br> Maintenance</div>
                    <div class="bar"></div>
                </div>
                <div class="r">
                    <img draggable="false" src="/assets/slider/1.png" alt="">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content" style="background-color: rgb(128, 37, 202)">
                <div class="l">
                    <div class="text wrapword">Brand <br> Development</div>
                    <div class="bar"></div>
                </div>
                <div class="r r2">
                    <img draggable="false" src="/assets/slider/brand.gif" alt="">
                </div>
            </div>
        </div>
      </div>
  </div>



  <div class="scrl scrl2">
    <div class="head">
        <h2>Tech2020</h2>
        <div class="bar"></div>
        <div class="drag">
            <img src="/assets/slider/palm.png" alt="">
            <span></span>
        </div>
    </div>
    <div class="drag-scroll" #slider2>
        <div class="item i1" drag-scroll-item>
            <div class="content" style="background-color: #eeeeee">
                <div class="l">
                    <div class="text wrapword">Artificial<br> Intelligence<br></div>
                    <div class="bar"></div>
                </div>
                <div class="r">
                    <img draggable="false" src="/assets/slider2/ai.gif" alt="">
                </div>
            </div>
        </div>
        <div class="item" drag-scroll-item>
            <div class="content" style="background-color: #D4102A">
                <div class="l">
                    <div class="text wrapword">Lidar <br> & Autonomous <br> Driving</div>
                    <div class="bar"></div>
                </div>
                <div class="r">
                    <img draggable="false" src="/assets/slider2/lidar.png" alt="">
                </div>
            </div>
        </div>
        <div class="item" drag-scroll-item>
            <div class="content" style="background-color: rgb(163, 163, 163)">
                <div class="l">
                    <div class="text wrapword">Drones <br> & Flight <br> Dynamics</div>
                    <div class="bar"></div>
                </div>
                <div class="r">
                    <img draggable="false" src="/assets/slider2/drone3.gif" alt="">
                </div>
            </div>
        </div>
        <div class="item" drag-scroll-item>
            <div class="content" style="background-color: rgb(87, 87, 236)">
                <div class="l">
                    <div class="text wrapword">BlockChain <br> & Advanced <br> Databases</div>
                    <div class="bar"></div>
                </div>
                <div class="r">
                    <img draggable="false" src="/assets/slider2/blockchain.gif" alt="">
                </div>
            </div>
        </div>
        <div class="item" drag-scroll-item>
            <div class="content" style="background-color: rgb(11, 138, 121)">
                <div class="l">
                    <div class="text wrapword">Machine <br> Learning</div>
                    <div class="bar"></div>
                </div>
                <div class="r r2">
                    <img draggable="false" src="/assets/slider2/ml.gif" alt="">
                </div>
            </div>
        </div>
        <div class="item" drag-scroll-item>
            <div class="content" style="background-color: rgb(226, 178, 75)">
                <div class="l">
                    <div class="text wrapword">AR & <br> Virtual Reality </div>
                    <div class="bar"></div>
                </div>
                <div class="r">
                    <img draggable="false" src="/assets/slider2/vr2.gif" alt="">
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="map">
    <h2>Global Talent Pool</h2>
    <div class="bar"></div>
    <img style="display: none;" src="/assets/imgs/globalpresence.gif" alt="">
    <h1 style="text-align: center; color: #ddd; margin-top: 140px;">Coming soon..</h1>
  </div>



  <div class="inf">
    <div class="row">
        <div class="navi">
            <div class="l"><i class="fa fa-file-code-o" aria-hidden="true"></i></div>
            <div class="r">
                <div class="t">SEO Ready Code</div>
                <div class="b">Codes that always rank you first on Google.</div>
            </div>
        </div>
        <div class="navi">
                <div class="l"><i class="fa fa-desktop" aria-hidden="true"></i></div>
                <div class="r">
                    <div class="t">Fully Responsive</div>
                    <div class="b">Fully responsive on notebook, tablets, smartphones and desktops.</div>
                </div>
        </div>
        <div class="navi">
                <div class="l"><i class="fa fa-sliders" aria-hidden="true"></i></div>
                <div class="r">
                    <div class="t">Reusable Codes</div>
                    <div class="b">Easy-to-use, multi platform codes that run on all devices.</div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="navi">
                <div class="l"><i class="fa fa-comments-o" aria-hidden="true"></i></div>
                <div class="r">
                    <div class="t">5-Star-Support</div>
                    <div class="b">Always ready to help you create the best solution.</div>
                </div>
        </div>
        <div class="navi">
                <div class="l"><i class="fa fa-cogs" aria-hidden="true"></i></div>
                <div class="r">
                    <div class="t">High Customizibility</div>
                    <div class="b">Create, display, hack and invent anything that you want on any device.</div>
                </div>
        </div>
        <div class="navi">
                <div class="l"><i class="fa fa-globe" aria-hidden="true"></i></div>
                <div class="r">
                    <div class="t">Up-To-Date Software</div>
                    <div class="b">Codes running on latest platforms that deliver seamless results.</div>
                </div>
        </div>
    </div>
</div>

<div class="dtwo" routerLink="/campaign">
    <h3>Register now for free website</h3>
    <div class="bttn">
      <i class="material-icons">arrow_forward_ios</i>
    </div>
</div>

  <div class="portfolio">
    <h2>Tech-stack</h2>
    <div class="bar"></div>
    <div class="bttm">
        <div class="navs" *ngFor="let item of services">
            <div class="img">
                <div class="circle-ripple"></div>
                <img src="{{item.url}}" alt="">
            </div>
            <h2>{{item.name}}</h2>
        </div>
    </div>
  </div>

</div>


<div class="modal" *ngIf="modal1">
  <div class="c">
    <div class="bg"></div>
    <div class="top">
      <i (click)="hideModal()" class="fa fa-times-circle-o" aria-hidden="true"></i>
    </div>
    <div class="visi">
      <div class="l">
        <img src="/assets/modal/idea.png" alt="">
      </div>
      <div class="r">
        <h1>Have an IDEA? <br> We have the means</h1>
        <h3>Get your free website developed by professionals at DeltaCodes</h3>
        <p>Register now and get a chance to win-</p>
        <ul>
          <li>Completely free website</li>
          <li>2 months of free support</li>
          <li>A chance to work with DeltaCodes</li>
        </ul>
        <a type="button" href="/campaign">Register Now</a>
      </div>
    </div>
  </div>
</div>
