.content {
    display: flex;
    flex-direction: column;
    z-index: 10 !important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .c {
  width: 50%;
  height: 60%;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}
.modal .c .bg {
  height: 300vh;
  width: 300vh;
  border-radius: 50%;
  background-color: rgb(138, 77, 207);
  position: absolute;
  right: 55%;
  top: -150%;
}
.modal .c .top {
  display: flex;
  justify-content: flex-end;
}
.modal .c .top i {
  font-size: 30px;
  color: #333;
  cursor: pointer;
}
.modal .c .visi {
  box-sizing: border-box;
  z-index: 9001;
  flex-grow: 1;
  display: flex;
}
.modal .visi .l {
  width: 50%;
}
.modal .visi .l img {
  height: 500px;
  margin-left: -70px;
}
.modal .visi .r {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.modal .visi .r li {
  margin-bottom: 10px;
  color: #333;
}
.modal a {
  border: 2px solid rgb(122, 40, 255);
  padding: 8px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(122, 40, 255);
  font-weight: 600;
  margin-top: 10px;
}


.banner {
    height: 100vh;
    background-color: transparent;
    padding: 300px 80px 0 150px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.banner .anim {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
    width: 100%;
    position: relative !important;
    z-index: 200;
}

.anim .r {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-left: -40px;
    width: 50%;
    transition-duration: 0.3s !important;
}

.anim .r .top {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
}

.anim .r .top .one {
    display: flex;
    flex: 1;
    font-size: 150px;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}
.anim .r .top .one p {
    line-height: 150px;
    margin: 0;
}
.anim .r .top .two {
    display: flex;
    border: 2px solid #0ac775;
    background-color: #0ac775;
}
.anim .r .top .three {
    display: flex;
    flex: 3;
    flex-direction: column;
    padding-left: 20px;
    overflow: hidden;
}
.anim .r .top .three .textTop {
    display: flex;
    flex: 1;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: -1px;
    align-items: flex-end;
    line-height: 70px;
    white-space: nowrap;
}

.anim .r .top .three .textBtm {
    display: flex;
    flex: 1;
    font-size: 80px;
    font-weight: 700;
    color: #0ac775;
    align-items: flex-start;
    line-height: 70px;
}


.anim .r .mid {
    margin-top: 30px;
    width: 88%;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0px;
    font-family: "Poppins";
    padding-left: 10px;
}

.anim .r .btm {
    display: flex;
    padding-left: 10px;
    margin-top: 60px;
}
.anim .r .btm .btn {
    padding: 15px 30px;
    border-radius: 30px;
    border: 2px solid #0ac775;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    height: 22px;
    text-decoration: none;
}
.anim .r .btm .btn1 {
    background-color: #0ac775;
    color: black;
}
.anim .r .btm .btn1:hover {
    background-color: #0ac775c5;
    transition-duration: 0.2s;
}
.anim .r .btm .btn2 {
    margin-left: 20px;
    color: white;
}
.anim .r .btm .btn2:hover {
    border-color: #0ac775c5;
    transition-duration: 0.2s;
}






.hide {
    opacity: 0 !important;
}
.leftIn {
    animation: 0.8s ease-out 0s 1 leftIn;
    -webkit-animation: 0.8s ease-out 0s 1 leftIn;
}
.rightIn {
    animation: 0.8s ease-out 0s 1 rightIn;
    -webkit-animation: 0.8s ease-out 0s 1 rightIn;
}
.heightDown {
    animation: 0.8s ease-out 0s 1 heightDown;
    -webkit-animation: 0.8s ease-out 0s 1 heightDown;
}
.slideUp {
    animation: 0.6s ease-out 0s 1 slideUp;
    -webkit-animation: 0.6s ease-out 0s 1 slideUp;
}
.slideUp2 {
    animation: 0.7s ease-in 0s 1 slideUp;
    -webkit-animation: 0.7s ease-in 0s 1 slideUp;
}




/* Left In */
@keyframes leftIn {
  from {margin-left: -100px; opacity: 0;}
  to {margin-left: 0; opacity: 1;}
}
@-webkit-keyframes leftIn {
  from {margin-left: 0px; opacity: 0;}
  to {margin-left: 0; opacity: 1;}
}

/* Height 0 to full */
@keyframes heightDown {
  from {height: 0px; opacity: 0;}
  to {height: 145px; opacity: 1;}
}
@-webkit-keyframes heightDown {
  from {height: 0px; opacity: 0;}
  to {height: 145px; opacity: 1;}
}

/* Right in */
@keyframes rightIn {
  from {margin-left: 100px; opacity: 0;}
  to {margin-left: 0px; opacity: 1;}
}
@-webkit-keyframes rightIn {
  from {margin-right: -100px; opacity: 0;}
  to {margin-right: 0px; opacity: 1;}
}

/* Slide up */
@keyframes slideUp {
  from {margin-top: 100px; opacity: 0;}
  to {margin-top: 0px; opacity: 1;}
}
@-webkit-keyframes slideUp {
  from {margin-top: -100px; opacity: 0;}
  to {margin-top: 0px; opacity: 1;}
}





.skew {
    height: 200px;
    background-color: white;
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    -ms-transform: skewY(-4deg); /* IE 9 */
    -webkit-transform: skewY(-4deg); /* Safari 3-8 */
    transform: skewY(-4deg);
    z-index: 100;
}


.how {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 50px;
    margin-top: -10px;
}

.how .opts {
    display: flex;
    flex-direction: row;
    padding: 0 200px;
    margin-top: 70px;
}
.how .opts .nav {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.how .opts .nav img {
    max-width: 90%;
    background-size: cover;
    background-position: center;
    max-height: 210px;
}
.how .opts .nav h6 {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 30px 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}



.inf {
    display: flex;
    flex-direction: column;
    background-color: #233142;
    min-height: 300px;
    padding: 170px 170px 85px 170px;
    user-select: none;
}
.inf .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}
.inf .row .navi {
    display: flex;
    flex-direction: row;
    flex: 1;
    color: white;
    overflow: hidden;
    padding-right: 20px;
}
.inf .row .navi .l {
    padding: 0 20px 0 0;
}
.inf .row .navi .l i {
    font-size: 45px;
    color: #0ac775;
}
.inf .row .navi .r {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
}
.inf .row .navi .r .t {
    font-size: 21px;
    font-weight: 700 !important;
    text-transform: capitalize;
    cursor: pointer;
    transition-duration: 0.3s;
    width: max-content;
}
.inf .row .navi .r .t:hover {
    color: #0ac775;
}
.inf .row .navi .r .b {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}





.boy {
    position: absolute;
    left: 0px !important;
    bottom: 100%;
    right: 50%;
    bottom: 30px;
    user-select: none !important;
}
.boy .on {
    position: relative;
    height: 100%;
    width: 100%;
}
.boy .on img {
    position: absolute;
    bottom: 230px;
    left: 350px;
    transition-duration: 0.8s !important;
}

.boy .im1 {
    z-index: 100;
}
.boy .im2 {
    z-index: 70;
    bottom: 210px;
}
.boy .im3 {
    z-index: 20;
    padding-top: 25px;
}
.boy .im4 {
    z-index: 20;
    transform-origin: 40% 50%;
    left: 250px !important;
}
.boy .im5 {
    z-index: 30;
    left: 315px !important;
    bottom: 210px !important;
}
.boy .im6 {
    z-index: 15;
    left: 315px !important;
    bottom: 210px !important;
}






@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  display:block;
  height: 135vh !important;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: -2;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: -1;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}




.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 150px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

.portfolio  h2{
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

.portfolio .bar {
    margin-top: 5px;
    width: 90px;
    height: 6px;
    background-color: #0ac775;
}

.portfolio .bttm {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfolio .bttm .navs {
    width: 20%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    user-select: none;
}
.portfolio .bttm .navs .img {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.3), 0 0px 10px -1px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background-color: white;
}
.portfolio .bttm .navs .img img {
    height: 100%;
    width: 100%;
}
.portfolio .bttm .navs .img:hover {
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.portfolio .bttm .navs h2 {
    font-size: 22px;
    margin-top: 25px;
    text-align: center;
    color: #333;
}
@-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 4px rgb(0, 0, 0);
              box-shadow: 0 0 20px 4px rgb(0, 0, 0);
    }
  }
  @keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.35);
    }
  }



.dtwo {
    background-color: #233142;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0 0 40px 0;
    font-size: 28px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 8px;
    cursor: pointer;
    outline: none;
}

.dtwo .bttn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 2px solid #ddd;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 25px;
    letter-spacing: 0px;
    cursor: pointer;
    animation: pulse 2s infinite;
    user-select: none;
}
.dtwo .bttn i {
    font-size: 30px;
    margin-left: 3px;
    animation: pulseSize 2s infinite;
}

@keyframes pulse {
    0% {
      color: white;
      border-color: white;
      height: 50px;
      width: 50px;
    }
    50% {
      color: #0ac775;
      border-color: #0ac775;
      height: 60px;
      width: 60px;
    }
    100% {
      color: white;
      border-color: white;
      height: 50px;
      width: 50px;
    }
}
@keyframes pulseSize {
    0% {
      font-size: 30px;
    }
    50% {
      font-size: 40px;
    }
    100% {
      font-size: 30px;
    }
}



.scrl {
    display: flex;
    flex-direction: column;
    user-select: none;
    margin-bottom: 100px;
}
.scrl .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
}
.scrl .head h2 {
    font-size: 50px;
    margin: 0;
}
.scrl .head .drag {
    border-top: 2px dashed #333;
    width: 120px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scrl .head .drag img {
    height: 30px;
    margin-top: -16px;
    animation: leftRyt 4s infinite;
}
@keyframes leftRyt {
    0% {
        margin-left: 0px;
    }
    25% {
        margin-left: -50px;
    }
    50% {
        margin-left: 0px;
    }
    75% {
        margin-left: 50px;
    }
    100% {
        margin-left: 0px;
    }
  }
.drag-scroll {
    height: 65vh;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    overflow: scroll hidden;
    user-select: none;
    transform: scale(1);
    transition-duration: 0.2s;
    position: relative;
    cursor: pointer;
}
.activeSlide {
  transform: scale(1.02);
  cursor: grabbing;
}
.drag-scroll::-webkit-scrollbar {
  display: none;
}
.drag-scroll .item {
    height: 100%;
    min-width: 60%;
    box-sizing: border-box;
    padding: 0 50px;
}
.drag-scroll .i1 {
    margin-left: 300px;
}
.drag-scroll .item .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
}
.drag-scroll .item .content .l {
    width: 48%;
    height: 100%;
    position: absolute;
    left: -30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.drag-scroll .item .content .l .text {
    font-size: 47px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.drag-scroll .item .content .l .bar {
    height: 6px;
    width: 100px;
    background-color: #0ac775;
    margin-left: 40px;
    border-radius: 5px;
}

.drag-scroll .item .content .r {
    width: 70%;
    height: 100%;
    position: absolute;
    right: -70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.drag-scroll .item .content .r img {
    max-width: 100%;
    max-height: 80%;
    -moz-user-select: none;
}
.drag-scroll .item .content .r2 img {
    right: -40px !important;
    max-height: 90%;
    -moz-user-select: none;
}
.scrl2 .drag-scroll .item .content .r {
    right: 30px !important;
}
.scrl2 .drag-scroll .item .content .r img {
    max-width: 70% !important;
    -moz-user-select: none;
}

.wrapword {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    overflow-wrap: break-word;
    white-space: normal;
}





.map {
    user-select: none;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 140px;
    margin-top: 120px;
}
.map h2 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 5px 0;
}
.map img {
    max-width: 100%;
    margin-top: 80px;
}

.bar {
    height: 6px;
    width: 80px;
    border-radius: 3px;
    background-color: #0ac775;
}






















@media (min-width: 1025px) and (max-width: 1280px) {

}


/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {
    .banner {
        height: 100vh;
        padding: 100px 0px 0 0px;
    }
}


/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {
    .banner {
        height: 100vh;
        padding: 100px 0px 0 0px;
    }
}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
    .modal {
      display: none;
    }

    .banner {
        height: 90vh;
        padding: 250px 0px 0 0px;
        max-width: 100%;
    }
    .banner .boy {
        display: none;
    }
    .banner .anim {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .anim .r {
        position: relative;
        width: 100%;
        margin-left: 20px;
    }
    .anim .r .top .one {
        display: flex;
        flex: 1;
        font-size: 60px;
        padding-right: 0px;
    }
    .anim .r .top .one p {
        line-height: 60px;
    }
    .anim .r .top .three {
        padding-left: 10px;
    }
    .anim .r .top .three .textTop {
        font-size: 35px;
        line-height: 35px;
    }
    .anim .r .top .three .textBtm {
        font-size: 35px;
        line-height: 35px;
    }
    .anim .r .btm .btn {
        padding: 10px 20px;
    }

    @keyframes heightDown {
        from {height: 0px; opacity: 0;}
        to {height: 65px; opacity: 1;}
    }
    @-webkit-keyframes heightDown {
        from {height: 0px; opacity: 0;}
        to {height: 65px; opacity: 1;}
    }



    .how {
        padding-bottom: 30px;
    }

    .how .opts {
        padding: 0 0px;
        margin-top: 30px;
        overflow: hidden;
    }
    .how .opts .nav {
        padding: 0 10px;
    }

    .how .opts .nav img {
        max-width: 90%;
        max-height: 90px;
    }
    .how .opts .nav h6 {
        font-size: 15px;
        text-align: center;
    }


    .scrl .head {
        padding: 20px 10px;
    }
    .scrl .head h2 {
        font-size: 35px;
    }
    .scrl .head .drag {
        margin-top: 40px;
    }





.drag-scroll {
    height: 55vh;
    margin-top: 40px;
    cursor: none;
}
.drag-scroll .item {
    max-height: 55vh;
    min-width: 90%;
    box-sizing: border-box;
    padding: 0 20px;

}
.drag-scroll .i1 {
    margin-left: 20px;
}
.drag-scroll .item .content {
    max-height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}
.drag-scroll .item .content .l {
    width: 100%;
    position: initial;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.drag-scroll .item .content .l .text {
    font-size: 24px;
    text-align: center;
}
.drag-scroll .item .content .l .bar {
    height: 5px;
    width: 60px;
    margin-left: 0px;
    margin-top: 5px;
}

.drag-scroll .item .content .r {
    width: 100%;
    position: initial;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drag-scroll .item .content .r img {
    max-width: 80%;
    max-height: 80%;
}
.drag-scroll .item .content .r2 img {
    right: 0px !important;
    max-height: 80%;
}
.scrl2 drag-scroll .item .content .r {
    right: 0px !important;
}
.scrl2 drag-scroll .item .content .r img {
    max-width: 80% !important;
}

.map {
    padding: 0 10px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.map h2 {
    font-size: 25px;
}
.map img {
    margin-top: 80px;
    margin-bottom: 40px;
}


.inf {
    padding: 70px 20px 70px 20px;
}
.inf .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.inf .row .navi {
    padding-right: 0px;
    margin-bottom: 50px;
}
.inf .row .navi .l {
    padding: 0;
    flex: 1;
}
.inf .row .navi .l i {
    font-size: 40px;
}
.inf .row .navi .r {
    padding-top: 0px;
    flex: 4;
}
.inf .row .navi .r .t {
    font-size: 18px;
}
.inf .row .navi .r .b {
    margin-top: 10px;
    font-size: 14px;
}

.dtwo {
    height: 100px;
    font-size: 12px;
    letter-spacing: 2px;
}
.dtwo h3 {
    width: max-content;
    font-size: 14px;
    text-shadow: 0px 0px #fff;
    margin-right: 10px;
    color: #0ac775;
    opacity: 1;
}
.dtwo .bttn {
    height: 25px;
    width: 25px;
    margin-left: 0px;
}
.dtwo .bttn i {
    font-size: 20px;
    margin-left: 3px;
    animation: pulseSize 2s infinite;
}
@keyframes pulse {
    0% {
      color: #0ac775;
      border-color: #0ac775;
      height: 30px;
      width: 30px;
    }
    50% {
      color: #0ac775;
      border-color: #0ac775;
      height: 40px;
      width: 40px;
    }
    100% {
      color: #0ac775;
      border-color: #0ac775;
      height: 30px;
      width: 30px;
    }
}
@keyframes pulseSize {
    0% {
      font-size: 20px;
    }
    50% {
      font-size: 25px;
    }
    100% {
      font-size: 20px;
    }
}




.portfolio {
    padding: 60px 20px;
}

.portfolio  h2{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.portfolio .bar {
    margin-top: 5px;
    width: 90px;
    height: 6px;
    background-color: #0ac775;
}

.portfolio .bttm {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfolio .bttm .navs {
    width: 40%;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0;
}
.portfolio .bttm .navs .img {
    width: 80%;
    height: auto;
    border-radius: 30px;
    padding: 10px;
}
.portfolio .bttm .navs .img img {
    height: 100%;
    width: 100%;
}
.portfolio .bttm .navs h2 {
    font-size: 14px;
    margin-top: 20px;
}
}
