<div class="container">
  <app-topbar [data]="data"></app-topbar>

  <div class="top">
    <div class="l">
      <h1>Consulting Services</h1>
      <div class="bar" style="margin-left: 50px;"></div>
    </div>
    <div class="r">
      <p>Our management consulting services focus on our clients' most critical issues and opportunities: strategy, marketing, organization, operations, technology, transformation, digital, advanced analytics, corporate finance, mergers & acquisitions and sustainability across all industries and geographies. We bring deep, functional expertise, but are known for our holistic perspective: we capture value across boundaries and between the silos of any organization. We have proven a multiplier effect from optimizing the sum of the parts, not just the individual pieces.</p>
    </div>
  </div>

  <div class="heading">
    <h1>How We Help</h1>
  </div>

  <div class="services">
    <a class="serv" *ngFor="let item of services" [routerLink]="['/services', item.url ]">
      <i class="fa fa-caret-right" aria-hidden="true"></i>
      <h2>{{item.name}}</h2>
      <p>this is some text some dummy text bro. how can i help you write some text budds.</p>
      <button>Know More</button>
    </a>
  </div>

  <div class="faq">
    <app-faq [Data]="faq"></app-faq>
  </div>

  <div class="talk">
    <div class="l">
      <h1>Ready to talk?</h1>
      <label for="drop">I want to talk to your experts in:</label>
      <select id="drop">
        <option class="opt" value="0">Select an industry</option>
        <option class="opt" value="logistics">Logistics & Transportation</option>
        <option value="aviation">Aviation & Defence</option>
        <option value="oil">Oil & Gas</option>
        <option value="telco">Telecom & Internet</option>
        <option value="tech">Tech & Innovation (R&D)</option>
        <option value="finance">Financial Services</option>
        <option value="healthcare">HealthCare & Life Sciences</option>
        <option value="travel">Travel & Hospitality</option>
        <option value="retail">Retail & Ecommerce</option>
        <option value="edtech">Education & Digital Learning</option>
      </select>
    </div>
    <div class="r">
      <p>We work with ambitious leaders who want to define the future, not hide from it. Together, we achieve extraordinary outcomes.</p>
      <input type="email" placeholder="Your email">
      <button type="button">CONTACT US</button>
    </div>
  </div>
</div>
