<div class="slidercontainer">
  <div class="page p1" [style.backgroundImage]="'url(/assets/i4/1.jpg)'">
    <div class="overlay">
      <div class="lft">
        <h1>Bind</h1>
      </div>
      <div class="ryt">

      </div>
    </div>
  </div>
  <div class="page p2" [style.backgroundImage]="'url(/assets/i4/2.jpg)'">
    <div class="overlay">
      <div class="lft">
        <h1>Flipper</h1>
      </div>
      <div class="ryt">

      </div>
    </div>
  </div>
  <div class="page p3" [style.backgroundImage]="'url(/assets/i4/3.jpg)'">
    <div class="overlay">
      <div class="lft">
        <h1>DeltaCodes</h1>
      </div>
      <div class="ryt"></div>
    </div>
  </div>
</div>