.container {
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    font-family: 'Montserrat', sans-serif;
}

.container h1 {
    font-size: 32px;
    color: #333;
}
.container h2 {
    font-size: 20px;
    color: #0ac775;
    opacity: 0.8;
}


.items {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.items .bar2 {
    border: 1px solid #0ac775;
    border-radius: 50%;
}
.items .item {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 20px 0;
    cursor: pointer;
}
.items .item img {
    transform: scale(1.4);
    filter: grayscale(100%);
    transition-duration: 0.3s;
}
.items .item:hover img {
    transform: scale(1.6);
    filter: grayscale(0%);
}
.items .item h3 {
    margin-top: 60px;
    margin-bottom: 0;
    font-size: 20px;
    color: rgba(51, 51, 51, 0.7);
    text-align: center;
}
.items .item:hover h3 {
    color: #333;
}
.items .item p {
    text-align: center;
    max-width: 70%;
}



@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }
  .loading {
      margin-top: 80px;
  }


  .btn {
      padding: 10px 20px;
      border: 2px solid #0ac775;
      margin-right: 30px;
      border-radius: 40px;
      font-weight: 600;
      cursor: pointer;
      user-select: none;
  }
  .btn1 {
      background-color: #0ac775b0;
      padding: 10px 30px;
  }
  .btn1:hover {
      background-color: #0ac775;
  }
  .btn2 {
      background-color: #0ac7752d;
  }
  .btn2:hover {
      background-color: #0ac77546;
  }


  .items .form {
      display: flex;
      flex-direction: column;
      width: 30%;
      margin-bottom: 40px;
  }
  .form .bttn {
      margin: 20px 0;
      width: max-content;
  }
  .form input {
      border: 2px solid #0ac775;
      margin-bottom: 10px;
      padding: 10px 20px;
      outline: none;
      border-radius: 20px;
  }
  .invalid {
    border: 2px solid rgb(240, 131, 152) !important;
  }
  .error {
    margin: 20px 10px;
    font-size: 12px;
    color: crimson;
  }
  .form textarea {
      border: 2px solid #0ac775;
      padding: 10px 20px;
      resize: none;
      outline: none;
      border-radius: 20px;
  }

















  @media (min-width: 1025px) and (max-width: 1280px) {

}


/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {

}


/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    padding: 0 20px;
}
.container h1 {
    font-size: 28px;
}

.container h2 {
  font-size: 18px;
  opacity: 0.85;
}

.items {
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}
.bar {
  width: 80%;
}
.items .item {
    padding: 50px 0 20px 0;
    width: 80%;
    user-select: none;
}
.items .item img {
    transform: scale(1.1);
}
.items .item:hover img {
    transform: scale(1.4);
}
.items .item h3 {
    margin-top: 40px;
    font-size: 20px;
}

.loading {
      margin-top: 80px;
}



.btn {
    padding: 10px 20px;
    margin: 10px 0px;
}

.items .form {
    width: 100%;
}
}
