<div class="container">
  <h1>Great! <br>Now let's get some details</h1>
  <h2 *ngIf="showM1">What's the scope of your work?</h2>
  <div *ngIf="showM1" class="items">
    <div class="item" (click)="submit(1)">
      <img src="/assets/begin/hire/1.png" alt="">
      <h3>Short-term tasks</h3>
      <p>Build a pool of diverse experts for one-off tasks</p>
    </div>
    <div class="bar"></div>
    <div class="item" (click)="submit(2)">
      <img src="/assets/begin/hire/2.png" alt="">
      <h3>Recurring projects</h3>
      <p>Have a go-to team with specialized skills</p>
    </div>
    <div class="bar"></div>
    <div class="item" (click)="submit(3)">
      <img src="/assets/begin/hire/3.png" alt="">
      <h3>Full-time contract work</h3>
      <p>Expand your staff with a dedicated team</p>
    </div>
  </div>


  <div class="loading" *ngIf="loading">
    <img class="rotating" src="/assets/begin/loader.png" alt="">
  </div>

  <h2 *ngIf="showM2">Are you an individual?</h2>
  <div class="items" *ngIf="showM2">
    <div class="btn btn1" (click)="submit2(true)">Yes</div>
    <div class="btn btn2" (click)="submit2(false)">No! I am an enterprise</div>
  </div>


  <h2 *ngIf="showForm">Just few more details and you are all set to go..</h2>
  <div class="items" *ngIf="showForm">
    <form class="form" [formGroup]="myForm">
        <input type="text" formControlName="name" placeholder="Full Name*" maxlength="80" [ngClass]="{ 'invalid': submitted && f.name.errors }">
        <input type="email" formControlName="email" placeholder="Your Email*" maxlength="80" [ngClass]="{ 'invalid': submitted && f.email.errors }">
        <input *ngIf="!individual" formControlName="cname" type="text" placeholder="Company Name" maxlength="80" [ngClass]="{ 'invalid': submitted && f.cname.errors }">
        <input type="text" formControlName="contact" placeholder="10 digit Contact Number*" pattern="\d*" maxlength="10" [ngClass]="{ 'invalid': submitted && f.contact.errors }">
        <textarea formControlName="query" cols="30" rows="5" placeholder="Anything else you want to mention?" [ngClass]="{ 'invalid': submitted && f.query.errors }"></textarea>

        <div class="error" *ngIf="f.email.errors && submitted">Email must be a valid email address</div>

        <div (click)="submit3(myForm)" class="btn btn1 bttn">Submit</div>
    </form>
  </div>

</div>
