<div class="container">
  <div class="banner">
    <div class="tab">
      <h1>Join a pool of Global Developers.</h1>
      <div class="bar"></div>
      <p>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
      </p>
    </div>
    <div class="tab">
      <img src="/assets/imgs/6.gif" draggable="false" alt="">
    </div>
  </div>
  <div class="perks">
    <h2>Being a D-coder</h2>
    <div class="bar"></div>
    <p>Working from home and getting MacBook is old, you get so many perks!</p>
    <div class="list">
      <div class="tab t1">
        <div class="item">
          <h4>Get back most of what you bill</h4>
          <i class="fa fa-usd" aria-hidden="true"></i>
        </div>
        <div class="item">
          <h4>Payment on hourly Basis</h4>
          <i class="fa fa-money" aria-hidden="true"></i>
        </div>
        <div class="item">
          <h4>Work when you want. No strings attached</h4>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </div>
        <div class="item">
          <h4>Whatever you need to be comfortable</h4>
          <i class="fa fa-headphones" aria-hidden="true"></i>
        </div>
        <div class="item">
          <h4>Direct Access to a Pool of Highly Skilled Developers</h4>
          <i class="fa fa-users" aria-hidden="true"></i>
        </div>
      </div>
      <div class="tab">
        <div class="item">
          <i class="fa fa-medkit" aria-hidden="true"></i>
          <h4>Unlimited Sick leave</h4>
        </div>
        <div class="item">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          <h4>Books, Magazines, Online Course-you learn, we pay</h4>
        </div>
        <div class="item">
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          <h4>Sodexo coupons and other knick knacks</h4>
        </div>
        <div class="item">
          <i class="fa fa-globe" aria-hidden="true"></i>
          <h4>Internet and Mobile</h4>
        </div>
        <div class="item">
          <i class="fa fa-cubes" aria-hidden="true"></i>
          <h4>A fully Integrated Collaboration Tool for all your Work.</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="joindc">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#00cba9" fill-opacity="1" d="M0,96L48,101.3C96,107,192,117,288,149.3C384,181,480,235,576,224C672,213,768,139,864,133.3C960,128,1056,192,1152,202.7C1248,213,1344,171,1392,149.3L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
    <div class="content">
      <h1>Think you are a Perfect Fit?</h1>
      <a href="/join" class="btn" ><span>Be a D-coder</span></a>
    </div>
  </div>
</div>