<div class="container">
  <h1>Privacy Policy</h1>

  <h2>Who we are?</h2>
  <p>
    DeltaCodes India Inc. further referred to as “we,” “us” or “our”, is a custom software development consultancy headquartered at
    14th floor, JM Orchid, Sector 74, Noida, UP 201304, India.
  </p>
  <p>
    This Privacy Policy describes the practices we use for your interaction with our website, for our communication with you for marketing purposes, for fulfilling contractual obligations.
  </p>
  <p>
    We are the Controller for the personal information we collect and process, unless otherwise stated.
  </p>
  <p>
    If you have a privacy question, you may contact our Data Protection team at <a href="mailto:support@deltacodes.in?Subject=Data%20Privacy%20Query">support@deltacodes.in</a>. We appreciate the opportunity to address your questions and concerns.
  </p>

  <h2>What data do we collect about you?</h2>
  <p>
    If you are a website visitor we collect the following data about you via Contact Us forms: Name, Email, Phone, Company, Location and any additional information you may provide.
  </p>
  <p>
    If you are a website visitor and you send a request to our company to one of the mentioned corporate email addresses, we collect the following data about you: name, email, position, company, phone, address, and other information you may mention in your messages.
  </p>
  <p>
    If you are a website visitor and you call one of the mentioned phone numbers, we may collect the following data about you: name, email, position, company, phone, address, and other information you may mention during communication.
  </p>
  <p>
    We may find your data through professional networks such as LinkedIn, or through other open sources, or industry events or personal meetings. In this case, we may collect your name, email, position, company, phone, address, and other information available through these sources, or that you may mention in communication.
  </p>
  <p>
    If you are a job applicant and contacting our recruiters/HR managers whose contact information (email, skype) is mentioned on the website, we may collect the following data about you: name, phone, your current company and position (if applicable), country, email, education data, employment history, career aspirations, social networks IDs.
  </p>

  <h2>Do we use cookies?</h2>
  <p>
    Yes. Cookies are small files that a site or its service provider transfers to your computer through your Web browser (if you allow), that enables the site’s or service provider’s systems to recognize your browser, and capture and remember certain information.
  </p>
  <p>
    We use cookies to compile aggregate data about site traffic and site interaction so that we can offer a better site experience and tools, in the future.
  </p>

  <h2>How do we process your personal information and what are the legal bases for processing?</h2>
  <p>
    We use the information we collect about you for the following purposes:
  </p>
  <p>
    Where we need to conduct our business and pursue our legitimate interest we:
  </p>
  <ul>
    <li>Send you information about our news, special offers, other relevant content</li>
    <li>Send you information about our services with direct marketing purpose</li>
    <li>Send you information about current and future employment opportunities (if you are a job applicant)</li>
    <li>Analyze your use of our website to customize it for better performance</li>
    <li>Diagnose problems with our website</li>
    <li>Investigate and respond to your comments or complaints</li>
  </ul>
  <p>Where you give us your consent we:</p>
  <ul>
    <li>Send you information about our news, special offers, and other relevant content</li>
    <li>Send you information about our services with direct marketing purpose</li>
  </ul>
  <p>Where we enter into contractual obligations with you, when you are our customer, employee, or contractor, we:</p>
  <ul>
    <li>Process your personal data related to contract performance for communication, financial, business relation’s purposes.</li>
    <li>Retain your personal data till the end of contract performance and certain period of time after, as required by applicable law mentioned in a contract.</li>
    <li>Send you information about our news, relevant content, and changes to our services</li>
  </ul>
  <p>Where it is required to comply with legal obligations we:</p>
  <ul>
    <li>Respond to requests by government, regulatory, or law enforcement authorities conducting an investigation.</li>
    <li>Detect, prevent, or otherwise address fraud, security, or technical issues, protecting you and us.</li>
  </ul>

  <h2>How do we share your personal information?</h2>
  <p>
    We may share your personal information within the group of our subsidiaries (refer to “Who we are” section) to the relevant staff, as well as to relevant contractors.
  </p>
  <p>
    We may share your personal information with third party Data Processors, which are the companies that we contract to help us run our business by processing personal information on our behalf, for the above-mentioned purposes. Such companies include email, social media, and other marketing platforms and service providers, hosting services, legal and financial firms. In these cases we make sure those companies have required safeguards to protect your personal data, in certain cases we enter into Controller-Processor contractual obligations with them.
  </p>
  <p>
    We may share your personal information in the following cases:
  </p>
  <ul>
    <li>You agreed to share your personal information</li>
    <li>When we are required to do so in response to a court order or other applicable law or legal process</li>
    <li>When we have a well grounded belief that the disclosure is necessary to prevent or respond to fraud, defend our website or other infrastructure elements against attacks, protect our safety or the safety of our customers or the public</li>
  </ul>

  <h2>Do we transfer your personal information across national borders?</h2>
  <p>
    Yes, we may transfer your personal information within the group of our subsidiaries (refer to the “Who are we?” section) to relevant staff, as well as to relevant contractors.
  </p>

  <h2>What rights do you have regarding your personal information?</h2>
  <p>
    You have the following rights according to GDPR and the law of some countries:
  </p>
  <p>
    The right to be informed means you may have the right to obtain a copy of your personal information from us.
  </p>
  <p>
    The rights of rectification and deletion of your personal information.
  </p>
  <p>
    The right to restriction of processing of your personal information.
  </p>
  <p>
    The right to data portability, which means you can obtain the personal information you provided to us, in a structured, machine readable format, and the right to transmit this information to another controller.
  </p>
  <p>
    The right to object to the processing of your personal information in the cases where we don’t have to process your information for contractual or other legal purposes, or when your personal information is used for direct marketing.
  </p>
  <p>
    The right to withdraw consent for such processing activities as: sending news, special offers, other relevant content, or information about our services with direct marketing purpose.
  </p>
  <p>
    These rights may be limited in the cases when we have legitimate grounds for the processing, which override your rights and freedoms, such as establishment, exercise or defense of legal claims, or if fulfilling your request discloses another person’s personal information, or if you ask to erase the information that we are required by law to retain.
  </p>
  <p>
    To exercise these rights you can contact our Data Protection team, refer to the “Who are we?” section. Your requests will normally be processed within one month. Please be aware that we may need to establish your identity before we process your request.
  </p>


  <h2>How long do we retain your personal information?</h2>
  <p>In the case of processing your personal information for marketing purposes and/or when you gave us your consent, we process your personal information until you ask us to stop. After fulfilling such a request we need to keep a permanent record stating that you have asked us to stop sending you direct marketing messages or to process your personal information, this way we make sure we respect your request for the future. Keeping records of your requests is a direct requirement of GDPR, Recital (82).</p>
  <p>
    In the case of contractual obligations between you and us (when you are our customer, or employee, or contractor), we retain your personal data till the end of contract performance and a certain period of time after, as required by applicable law mentioned in a contract.
  </p>

  <h2>Do we use automated decision-making?</h2>
  <p>
    We are not using any automated decision making, or profiling regarding any type of communications, decisions, or business relations with you.
  </p>

  <h2>How can you resolve your privacy questions?</h2>
  <p>
    If you have a question regarding the privacy of your personal information please feel free to contact our Data Protection team, refer to the “Who are we?” section. If you have concerns about how we handle your personal information, you have the right to make a complaint about us to the Supervising Authority in your country, most Supervising Authorities can be contacted online, refer to the following register
    <a href="https://icdppc.org/participation-in-the-conference/members-online/">https://icdppc.org/participation-in-the-conference/members-online/</a>.
  </p>

  <h2>Will this policy change?</h2>
  <p>
    We may change this Policy from time to time based on changes to applicable law or other regulations/requirements applicable to us, or changes to our business. Any changes to the Policy will be posted on this page. In the case where such changes affect how we process your personal information, where appropriate, we will notify you directly by email or by other methods of communications. Additionally, we will post a notice about a change to the Policy in our corporate Blog
    (<a href="https://www.deltacodes.in/blog">https://www.deltacodes.in/blog</a>).
  </p>

</div>
