

/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    font-family: "proximo-nova", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body::-webkit-scrollbar {
   display: none;
}

::selection {
   color: white;
   background: #0ac775;
}
::-moz-selection {
   color: white;
   background: #0ac775;
}

.prime {
  color: #0ac775;
}

.expanded {
  flex-grow: 1;
}

.bar {
  width: 80px;
  height: 5px;
  background-color: #0ac775;
  border-radius: 2px;
}


.ttr:hover{
  color: rgb(85, 172, 238) !important;
}
.lin:hover {
  color: #0077b5 !important;
}
.ytb:hover {
  color: #d85f73 !important;
}


.mont {
  font-family: 'Montserrat', sans-serif;
}
