<div class="container">
  <app-topbar [data]="data"></app-topbar>
  <div class="txt">
    <p>As a full-stack web development company, we deliver a wide range of custom web solutions for small and big businesses in different domains. With maximum effort and attention to details, we create web apps, services, and sites that accurately answer your expectations and satisfy the specific needs of your company.</p>
    <p>The back end and the front end created with the most reliable and relevant modern techs.</p>
    <ul>
      <li>Any browser.</li>
      <li>Any device.</li>
      <li>Flawless user experience.</li>
      <li>A thought-out architecture - cloud-native, microservices-based or reactive approach.</li>
      <li>Impeccable integration with ERP, CRM, PLM, and other business systems.</li>
    </ul>
  </div>
  <app-drive></app-drive>
  <app-vid
  [options]="{
    autoplay: false,
    fluid: true,
    fill: true,
    controls: true,
    sources: [
      { src: 'https://dcvideo.b-cdn.net/vid01.mp4', type: 'video/mp4' }
    ],
    poster: 'https://i.ibb.co/JnXd3jx/Delivering-tech-at-scale.jpg'
  }">
  </app-vid>

  <app-learn></app-learn>

  <app-client-stories></app-client-stories>

  <div class="faq">
    <app-faq [Data]="faq"></app-faq>
  </div>

  <app-contact></app-contact>

</div>
